{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}profile-active{% endblock %}

{% block extra_head %}

    <script src="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script src="{{STATIC_URL}}js/lib/page/lightbox.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.css" media="screen" />

{% endblock %}

{% block middle %}

<h1>Profile For <em>{{ user.first_name }} {{ user.last_name }}</em></h1>


{% include "profile/_eating-history.html" %}

{% endblock %}


{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}