{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}profile-active{% endblock %}

{% block extra_ie %}
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <!--[if IE]><script src="{{STATIC_URL}}js/lib/utils/excanvas.compiled.js"></script><![endif]-->
{% endblock %}

{% block extra_head %}

<script src="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.pack.js"></script>
<script src="{{STATIC_URL}}js/lib/page/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.css" media="screen" />

<script src="{{STATIC_URL}}js/lib/vendor/dygraph/dygraph-combined.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">

    {# load visualizer only if 3 or more checkins #}

    {%  if goallist|length > 2 %}
        google.load('visualization', '1', {packages: ['linechart']});
        google.setOnLoadCallback(drawChart);

        var userData = [];

        //  note we have to format python date for js, month is 0 based
        {% for i in goallist %}
            userData.push([new Date({{ i.evdate|date:"Y" }}, {{ i.evdate|date:"n" }} - 1, {{ i.evdate|date:"d" }}), {{ i.goal }}, {{ i.freggie }}]);
        {% endfor%}

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Goal');
            data.addColumn('number', 'Freggies');
            data.addRows(userData);

            var g = new Dygraph.GVizChart(document.getElementById("graphdiv"));
            g.draw(data, {
                displayAnnotations: true,
                fillGraph: true,
                stepPlot: true,
                strokeWidth: 1.5,
                legend: 'always',
                labelsDivStyles: {'font-weight' : 'bold'}
            });
        }
    {% endif %}

</script>
{% endblock %}

{% block middle %}

<h1>Profile For <em>{{ user.first_name }} {{ user.last_name }}</em></h1>
    
    
<p>
Below is a timeline showing all your reported freggies by day.
Hover over a date to see if you have completed your freggie goal for that day.
</p>


{%  if goallist|length > 2 %}
    <div id="graphdiv" style="width:700px;height:300px;margin-left:-20px;"></div>
{% else %}
    <p>
        <strong>
            You have only checked in on {{ goallist|length }} day(s).  You must
            checkin 3 or more days to see the timeline.
        </strong>
    </p>
{% endif %}
    
<br/>


{% include "profile/_eating-history.html" %}

{% endblock %}


{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}