<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Tweatwell</title>

	{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Seven."/>

	<link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print">	
        <!--[if lt IE 8]><link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	
	
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js">
		
	<script language="JavaScript">
            <!-- 
            var officeoffset = 240;
            browser = (parseInt(navigator.appVersion) >= 4)
            var weekdays=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
            if(! weekdays) { browser = 0; }
            if(browser) {
            var visitortime = new Date();
            var visitoroffset = visitortime.getTimezoneOffset();
            if(visitoroffset < 0) { visitoroffset = Math.abs(visitoroffset) + 720; }
            else { visitoroffset = 720 - visitoroffset; }
            if(officeoffset < 0) { officeoffset = Math.abs(officeoffset) + 720; }
            else { officeoffset = 720 - officeoffset; }
            var diff = officeoffset - visitoroffset;
            var officetime = new Date();
            officetime.setTime(Number(visitortime) + (diff * 60000));
            } // -->
        </script>
	
	 <script type="text/javascript">

            // function to calculate local time
            // in a different city
            // given the city's UTC offset
            function calcTime(city, offset)
            {
            // create Date object for current location
            d = new Date();
   
            // convert to msec
            // add local time zone offset
            // get UTC time in msec
            utc = d.getTime() + (d.getTimezoneOffset() * 60000);
   
            // create new Date object for different city
            // using supplied offset
            nd = new Date(utc + (3600000*offset));
   
            // return time as a string
            return "The local time in " + city + " is " + nd.toLocaleString();
            }

		// get Bombay time
		(calcTime('Bombay', '+5.5'));

		// get Singapore time
		(calcTime('Singapore', '+8'));

		// get London time
		(calcTime('London', '+1'));
</script>

	{% endblock %}
    	    {% block extra_head %}
	    {% endblock %}   
	
</head>
<body>
    
    <div id="wrapper">
    
		<div id="masthead">

			<a href="http://www.wvu.edu/" class="wvu"><img src="/site_media/img/wvu_logo.gif" alt="West Virginia University" border="0" /></a>
			<ul class="meta">

				<li class="first"><a href="http://www.wvu.edu/SiteIndex/">A-Z Index</a></li>
				<li><a href="http://www.wvu.edu/CampusMap/">Campus Maps</a></li>
				<li><a href="http://directory.wvu.edu/">Directory</a></li>
				<li><a href="mailto:wvubi@mail.wvu.edu">Contact Us</a></li>
				<li class="last"><a href="http://www.wvu.edu/">WVU Home</a></li>
			</ul>
        </div><!-- masthead -->

		<div id="header">
        
        
			<div id="top-nav">
            
            	<ul>
				   <li class="first"><a href="/">Home</a></li>
				   {% if user.is_authenticated %}
				   <li><a href="/stats/{{user}}/">Stats</a></li>
				   <li><a href="/rankings/">Rankings</a></li>
				   <li><a href="/twfaq/">Faq</a></li>
				   <li><a href="/accounts/profile">Settings</a></li>
				   <li><a href="/logout">Logout</a></li>
				   {% endif %}
				</ul>
                
			</div><!-- top-nav -->
        
        </div><!-- header -->
        
        <div id="left">
        
		{% if user.is_authenticated %}
		
		
    		<h3>{{ user.first_name }}</h3>
		
		{% else %}
		<a HREF="/login">Log-in</a> or <a HREF="/accounts/register/">create an account.</a>
		{% endif %}		       	   	
	
	
	{%block featureBox %}{% endblock %}
	{%block extra_body %}{% endblock%}
	{%block low_breadcrumbs %}{% endblock %}
    
    	</div><!-- middle -->
        
        <div id="right">
        
        	<h3>Sponsors</h3>
            
           <img src="/site_media/img/bella.gif" alt="bellarose" />
           <img src="/site_media/img/river.gif" alt="River Expeditions" />
           
        </div><!-- right -->
        
    </div><!-- wrapper -->
	   
	<div id="footer">
    
    	<div id="wrapper">
	     
	     Powered by &raquo;<a HREF=http://github.com/aviars/RESTCat>RESTCat: The Enterprise Social Object Server</a> &#124; &copy;2010 <a href="http://www.videntity.com">Videntity Systems, Inc.</a> &#124; 

	    
            <script id=datetime language="JavaScript">
                <!-- 
                if(browser)
                    {
                    document.write("Local Time: ");
                    document.write(visitortime.getHours() + ':');

                    if(visitortime.getMinutes() < 10) { document.write('0'); }
                    document.write(visitortime.getMinutes());
                    document.write(' on ' + weekdays[visitortime.getDay()]);
                    } //-->
            </script>
            
        </div><!-- wrapper -->
	    
        
    </div><!-- footer --> 



</body>
</html>
