{% extends "base.html" %}
{% block extra_head %}

{% endblock %}
{% block left %}
<ul>
    <li><a href="/rankings/coaches/">The Coaches Poll</a></li>
    <li><a href="/rankings/points/">Ranking by Points</a></li>
    <li><a href="/rankings/bodyfatpercentchange/">Ranking by &#37; Body Fat Change</a></li>
</ul>
{% endblock %}


{% block middle %}




    <h3>Rankings & Coaches Poll</h3>
    <p>
    There are 3 types of rankings. The coaches poll, the point ranking and
    percent body fat change rankings. As you may have guessed, the coaches poll
    is determined by the SRC fitness staff and certified personal trainers. Only
    the top 10 men and top ten women are ranked in the coaches poll. Otherwise
    you are unranked. Its somewhat subjective...kind of like a college football
    coaches poll. :-)
    The coaches poll is updated weekly, while the percent body fat change and
    the points polls are updated nightly. </p>
    
    <p> The coaches poll is updated weekly, while the
    percent bodyfat change and the points polls are updated nightly. 
    </p>
    
    

    	
{% endblock %}