{% extends "base.html" %}

{% block left %}


<p><strong>User:</strong> {{ user.username }}</p>

<p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>

<p><strong>Email:</strong> {{ user.email }}</p>


{% endblock %}

{% block middle %}

  {% if updated %}
  <h3>Account settings updated successfully!</h3>
  {% endif %}
  
  {% if form.errors %}
      <p class="error">Oops! Please correct the errors in the form below.</p>
  {% endif %}
  
  <form action="." method="POST">
    {{ form.as_p }}
    <input type="submit" name="update" />
  </form>

{% endblock %}