{% extends "base.html" %}

{% block middle %}

	<h2>Register</h2>
	<p>Please fill out the form to register.</p>
	<p>
			NOTICE: Tweatwell is a private beta exclusively  for
			full time WVU students. By signing up you acknowlede you have
			read and agree to the to the <a HREF="/tos">terms of
			service</a> and the <a HREF="/privacy">privacy policy</a>.
			<p>
			You should also read the <a HREF="/faq"> Frequently Asked
			Questions</a> before signing up.</p>
	</p>
	
	<p>* = Required</p>
	  {% if form.errors %}
            <p class="error">Oops! Please correct the errors in the form below.</p>
          {% endif %}
		<form action="." method="POST">
			<fieldset>
				{{ form.as_p }}
				<input type="submit" value="Register" class="submit" />
			</fieldset>
		</form>
		
		By clicking register you acknowlede you have
		read and agree to the to the <a HREF="/tos">terms of
		service</a> and the <a HREF="/privacy">privacy policy</a>.
		
{% endblock %}