{% extends "layouts/2-column.html" %}
{% block active_nav_tab %}home-active{% endblock %}

{% block left %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='/accounts/login/' method='POST' class="tw-form tw-login">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Login" class="button" />&nbsp;&nbsp;or <a href="/accounts/signup">Signup</a>
  </form>
    
  <br/>
  <a href="/accounts/password-reset-request/">Forget your password?</a>
{% endblock %}

{% block middle %}
<p>
  Welcome to tweatWELL! tweatWELL is a social network developed for WVU
  students with the goal of creating behavior change related to fruit and
  vegetable (Freggie) consumption. It is a unique point-based social network
  with the purpose of providing a fun way for WVU students to increase their
  intake of Freggies. Watch the short video clip below to learn more.
  New to tweatWELL? <a href="/accounts/signup">Signup</a> and get started.</p>

<iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="458" height="279" src="http://www.youtube.com/embed/cKnhLy7oQ14"
frameborder="0" allowFullScreen></iframe>



{% endblock %}
