{% extends "layouts/2-column.html" %}
{% block active_nav_tab %}home-active{% endblock %}

{% block left %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='/accounts/login/' method='POST' class="tw-form tw-login">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Login" class="button" />
  </form>

{% endblock %}

{% block middle %}
<p>Welcome to tweatWELL! tweatWELL is a pilot program with the goal of creating
behavior change utilizing a social network. It is a unique point-based
social network with the purpose of providing a fun way for WVU students
to increase their intake of Freggies (fruits and vegetables).
Please read the FAQs to the right, which includes information on using
Mozilla Firefox as your internet browser during the program.
New to tweatWELL? <a href="http://www.tweatwell.com/accounts/signup">Signup</a> to get started.</p>

<iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="458" height="279" src="http://www.youtube.com/embed/cKnhLy7oQ14"
frameborder="0" allowFullScreen></iframe>



{% endblock %}
