{% extends "base.html" %}

{% block middle %}
  
      <h2>Reset your Password:</h2>
        <form enctype="multipart/form-data" action="/accounts/reset-password/{{reset_password_key}}/" method="POST">
        <table>
        {% if error %}
          <p class="error">ERROR: {{error}}</p>
        {% endif %}
        
        
        {% if form.errors %}
          <p class="error">Please correct the errors below.</p>
        {% endif %}
    
        {{ form.as_table }}

        {% csrf_token %}
        </table>
        <input type="submit" value="Reset Password" />
        </form>

{% endblock %}