{% extends "layouts/2-column.html" %}
{% block active_nav_tab  %}faq-active{% endblock %}

{% block left %}
<div class="questions">
	<ul class="nav-list">
		<li><a href="#1">What are the program dates?</a></li>
		<li><a href="#2">What’s a “Freggie”?</a></li>
		<li><a href="#3">What is the purpose of tweatWELL?</a></li>
		<li><a href="#4">How does tweatWELL work?</a></li>
		<li><a href="#5">How do I get started?</a></li>
		<li><a href="#6">How do I earn points?</a></li>
		<li><a href="#7">How do I receive the Event and SparkPeople badges?</a></li>
		<li><a href="#8">How is Twitter helpful with tweatWELL?</a></li>
		<li><a href="#9">Is twitter the only way for me to post comments?</a></li>

		<li><a href="#8">What is the purpose of the dashboard on the right side?</a></li>
		<li><a href="#9">How will I benefit from tweatWELL?</a></li>
		<li><a href="#10">How is a week defined in the tweatWELL program?</a></li>
		<li><a href="#11">What are the incentives of the program?</a></li>
		<li><a href="#12">How will I benefit from tweatWELL?</a></li>
		<li><a href="#12">How will I benefit from tweatWELL?</a></li>
		<li><a href="#13">How is a week defined in the tweatWELL program?</a></li>

		<li><a href="#14">What are the buttons for and what do they mean?</a></li>
		<li><a href="#15">What do the judges do?</a></li>
		<li><a href="#16">What is SparkPeople and why do I need to register for it?</a></li>
		<li><a href="#17">How do I do a daily nutritional log on SparkPeople?</a></li>
	</ol>
</div>

{% endblock %}

{% block middle %}
    
<h1>FAQ</h1>


	<h3>Q. What are the program dates?<a name="1"></a></h3>
	<p>A. March 7, 2011 - April 29, 2011 </p>
	
	<h3>Q. What’s a “Freggie”?</h3><a name="2"></a>
	<p>A “Freggie” is short for fruit and veggie. </p>
	
	
	<h3>Q. What is the purpose of tweatWELL?</h3><a name="3"></a>
	<p>A. First of all, tweatWELL is a pilot program with the goal of creating behavior change utilizing a social network. TweatWELL is a unique point-based social network with the purpose of providing a fun way for WVU students to increase their intake of Freggies. This program is designed specifically for students at WVU. The majority of WVU students do not consume the recommended levels of Freggies per day (5-9 servings). WELL WVU believes the more involved you are with this program, the more likely you will be to consume the recommended level of Freggies per day, thus reaping the many nutritional benefits they have to offer.</p>
	
	<h3>Q. How does tweatWELL work?</h3><a name="4"></a>
	<p>A. The social network is designed for you to earn points based on the amount of interactions you have with the program. Points are distributed for various interactions among the site, including posting the fruits and veggies you consume, making comments on the site, etc. (Please see “How do I get points?” for the distribution table). The healthier you eat and the more active you are on the site, the more points you get. It’s that simple!</p>
	
	<h3>Q. How do I get started?</h3><a name="5"></a>
	<p>A. The first thing you need to do is sign up for the program at http://www.tweatWELL.com. You will register with your MIX e-mail address in order to verify you are a WVU student and fill out the registration information. TweatWELL will soon interact with Twitter in a way where you can tweet your updates, and they will automatically be uploaded to the newsfeed at tweatWELL.com. Therefore, it is highly recommended to use your Twitter account or sign up for a Twitter account in order to interact with the website via tweets or texts more easily, although it is not required.</p>
	<p>However, at this point in the program, it is required that you use Mozilla Firefox as your browser when using tweatWELL. You can download Firefox for free at http://www.mozilla.com/en-US/firefox/. </p>
	<h3>Q. How do I earn points?</h3><a name="6"></a>
	<p>A. Points are distributed based on different interactions with the site. The following is a list of how to receive points and the amount of points awarded:</p>
	<ul>
		<li>Posting you ate a fruit or vegetable: 2 points</li>
		<li>Posting you drank water: 2 points</li>
		<li>Commenting on a post: 1 point</li>
		<li>Correctly answering the question of the week: 5 points</li>
		<li>Attending a WELL WVU event: 25 points</li>
		<li>Completing a SparkPeople Food journal: 30 points</li>	
	</ul>
	<p>There is also a subjective part to the tweatWELL program. Based on your posts, the judges will award extra participation points for reaching certain goals, showing improvement, etc. If you noticed you have received more points on the sidebar, it is because the judges feel like you are on the right track. </p>
	
	<h3>How do I receive the Event and SparkPeople badges?</h3><a name="7"></a>
	<p>A. If you attend a WELL WVU event, you can e-mail us at <a href="mailto:tweatwell@mail.wvu.edu">tweatwell@mail.wvu.edu</a> including your tweatWELL username and notifying us of your attendance. We will then issue you the Event badge, as well as an additional 25 points. Please check well.wvu.edu, facebook.com/wellwvu and twitter.com/wellwvu for times and locations of WELL WVU events.</p>
	<p>To earn a SparkPeople badge, please e-mail your confirmation food log page and tweatWELL username to tweatwell@mail.wvu.edu. We will then issue you the SparkPeople badge, as well as an additional 30 points.</p>
	<p>If you have any questions please e-mail us at <a href="mailto:tweatwell@mail.wvu.edu">tweatwell@mail.wvu.edu</a></p>
	
	<h3>Q. How is Twitter helpful with tweatWELL?</h3><a name="8"></a>
	<p>A. A. Twitter makes it very easy to post your comments and photos onto www.tweatWELL.com via your twitter account, a cell phone twitter application, or by texting to “40404”. You simply use hashtag “#wvu5” when you want to post to www.tweatwell.com, and it will automatically post your comment or picture to the www.tweatwell.com website. Anytime you tweet or text your post, simply use the hashtag “#wvu5” and your post will automatically be uploaded to www.tweatwell.com.</p>
	<p>The question is how does this work? Well, it’s the power of using the “hashtag”, defined as a pound symbol (#) followed by a keyword (e.g. #wvu5). So, when you precede your comment with the hashtag “#wvu5” in your tweet or when you text to “40404”, it will automatically show up on www.tweatWELL.com. For example, “#wvu5 I ate an orange and one serving of carrots with my lunch today!” or “I ate a banana for a snack and drank 2 bottles of water so far today! #wvu5.”</p>
	
	<h3>Q. Is twitter the only way for me to post comments?</h3><a name="9"></a>
	<p>A. No. You can make posts directly at www.tweatWELL.com much like you would using Facebook. However, having a Twitter account will easily allow you to tweet your posts from your phone. Also, by having a Twitter account you can text your posts to “40404” as long as you use the hashtag #wvu5.</p>
	
	
	<h3>Q. What is the purpose of the badges on the top right?</h3><a name="10"></a>
	<p>A. Each of the five badges represents an accomplishment you have made throughout tweatWELL. They include:</p> 
	
	<p><strong>Points:</strong> Points are used as a tool to personally motivate and encourage you to be active on the tweatWELL site and increase your consumption of freggies each day. Points are awarded for members to use for friendly competition. While point numbers are not the only way you can win the grand prize, it will certainly be considered when the winner is chosen! It is a good representation of how active our members are on the site and how much you are improving your fruit & veggie consumption.  </p>
	
	<p><img src="/site_media/img/president.png" alt="President" /><strong>The President badge</strong> is normally grayed out, but if it is lit up, you are currently the President of the Freggies! This means that you have consumed the most fruits and vegetables throughout the week and will have a better chance of winning the weekly prize.</p>
	
		
	<p><img src="/site_media/img/dean.png" alt="Dean" /><strong>The Dean badge</strong> is normally grayed out, but if it is lit up, you are currently the Dean of the veggies or the fruits! This means that you have eaten more fruits or more vegetables than any other user this week. You will also have a better chance of winning the weekly prize.</p>
	
	<p><img src="/site_media/img/professor.png" alt="Professor" /><strong>The Professor badge</strong> is normally grayed out, but if it is lit up, you are currently the Professor of a particular fruit or veggie! This means you have eaten more of a particular fruit or vegetable than any other user. You will also have a better chance of winning the weekly prize.</p>
	
	<p><img src="/site_media/img/sparkpeople.png" alt="Spark People" /><strong>The SparkPeople badge</strong> is normally grayed out, but if it is lit up, you have received 30 points for doing a 2-day nutritional log. Remember, you must tell us in order to receive points. E-mail tweatwell@mail.wvu.edu with your username and confirmation of completing your food log.</p>
	
	<p><img src="/site_media/img/event.png" alt="Event" /><strong>The Event badge</strong> is normally grayed out, but if it is lit up, you have received 25 points for attending a WELL WVU event (i.e. Nutrition Bingo and Portion Plate Challenge). Remember, you must tell us in order to receive points. E-mail tweatwell@mail.wvu.edu with your username and let us know what event you attended.</p><p>Check out this screencast for a visual representation<br /><object style="height: 256px; width: 420px"><param name="movie" value="http://www.youtube.com/v/2c9lpzzyVP4?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/2c9lpzzyVP4?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object></p>
	
	
	
	<h3>Q. What are the incentives of the program?</h3><a name="11"></a>
	<p>A. <strong>Winners:</strong> Although the majority of this program is just for fun competition, awards will be given throughout and at the end of the program. Here’s how:</p> 
	<p>Each week there will be a raffle. If you have accumulated at least 40 points for the week, you will be entered into the raffle. You can increase your chances of winning the raffle by being the President, Dean or Professor. President will receive an additional 5 names in the raffle, Deans will receive an additional 2 names in the raffle, and Professors will receive an additional 1 name in the raffle. </p>
	<p><strong>Points:</strong> Points are used as a tool to personally motivate and encourage you to be active on the tweatWELL site and increase your consumption of freggies each day. Points are awarded for members to use for friendly competition. It is a good representation of how active our members are on the site and how much you are improving your Freggie consumption. </p>
	<p><strong>Professor:</strong> You can become the “Professor” of a specific fruit or veggie by consuming more of that particular item than anyone else in the tweatWELL program. This score is reset each week and will show the professor of a specific fruit or veggie each week.</p>	
	<p>For example, the player who is currently consuming the most bananas during the week and posts it on tweatWELL will become the Professor of bananas. You will remain the Professor of bananas until the end of the week.</p>
	
	<p><strong>Dean:</strong> You can become the “Dean” of either fruits or veggies by consuming more than anyone else in the tweatWELL program. This score is reset each week and will show the Dean of fruits and the Dean of veggies each week.</p>
	<p>For example, the player who is currently consuming the most veggies and posts it on tweatWELL will become the Dean of the veggies. You will remain the Dean of the veggies until the end of the week.</p>
	
	<p><strong>President:</strong> You can become President of all Freggies by consuming the most Freggies combined when compared to everyone else in the tweatWELL program. This score is reset each week and will show the President of the Freggies each week.</p>
	
	<p>For example, the player who is currently consuming the most Freggies during the week and posts it on tweatWELL will become President of the Freggies. You will stay the President of the Freggies until the end of the week.
</p>
	

	<h3>Q. How will I benefit from tweatWELL?</h3><a name="12"></a>
	<p>A. Hopefully you will:</p>
		<ul>
	
			<li>Learn how easy it is to eat 5-9 servings of Freggies per day and make lasting changes in your Freggie consumption </li>
			<li>Feel the amazing difference in the amount of energy you have when you eat the optimal amount of Freggies every day.</li>
			<li>Develop a taste for Freggies that will last for the rest of your life.  </li> 
			<li>Have fun playing with all the features of the tweatWELL program!</li>
			<li>First 100 students to sign up for tweatWELL will receive a FREE liveWELL shirt!</li>
			<li>You can also win cool weekly prizes!</li>
		</ul>
	
	
	<h3>Q. How is a week defined in the tweatWELL program?</h3><a name="13"></a>
	<p>A. A new week begins every Monday starting at 12:00 AM. You will be awarded the appropriate badges and maintain that badge for at least a week.</p>
			
	<h3>Q. What are the buttons for and what do they mean?</h3><a name="14"></a>
	<p>A. The purpose of the buttons is to make your job of posting the foods you eat as easy as possible. You must click a button in order for your status to be recognized. Each button below has a specific value:</p>
	<p>** You can change the quantity of how many fruits and/or veggies you eat, but you will still only be awarded two points. Therefore, if you eat two servings of carrots, you must notify us twice to get your four points. </p>
	<div class="nobullet">
	<ul>
		<li><img src="/site_media/img/fruit_small.gif" alt="Fruit"  /> This banana represents all fruit. Click on this button whenever you eat a fruit. To be more specific, when you click on this button, a drop-down menu will open up with a list of many types of fruits. Locate the specific type of fruit you ate and click it. For example, if you ate an orange for lunch, click on the “banana” button and locate “orange” on the list. Easy two points!</li><br />
		<li><img src="/site_media/img/broccoli_small.gif" alt="Broccoli"  /> This broccoli represents all vegetables. Click on this button whenever you eat a vegetable. A drop-down menu will also open up with a list of many types of vegetables for you to choose. Locate the specific type of vegetable you ate and click it. For example, if you ate a carrot for dinner, click on the “broccoli” button and locate “carrot” on the list. Easy two points!</li><br />
		<li><img src="/site_media/img/water_small.gif" alt="Water"  /> Click on the water button every time you have finished drinking one bottle of water. If you drink three bottles of water throughout the day, click the “water” button three times! That’s six points!</li><br />
		<li><img src="/site_media/img/pizza_small.gif" alt="Junk"  />Click the pizza button if you have eaten some form of junk food throughout the day. Whether it’s a pizza or burger for lunch or ice cream for dessert, this button will work for all junk food. If you want to be more specific about what you ate, post a comment about it! You will not receive points automatically, but the judges might be nice and give you honesty points.<br />
		<strong>Warning:</strong> You may receive (+) points for being honest about eating junk food or drinking alcohol up to THREE times per 24 hours. After the third post, you will receive (-) two points for each post.</li><br />
		<li><img src="/site_media/img/beer_small.gif" alt="Alcohol"  /> Click the beer button if you had any form of alcohol throughout the day. We are not encouraging the consumption of alcohol; however, the judges may give you points for being truthful. You might want to set an extra goal for yourself to gradually decrease your consumption of alcohol as the program progresses! Good luck!<br />
		<strong>Warning:</strong> You receive (+) points for being honest about eating junk food or drinking alcohol up to THREE times per 24 hours. After the third post, you will receive (-) two points for each post.</li><br />
		
			</div>
			<p>Check out this screencast for a visual representation<br /><object style="height: 256px; width: 420px"><param name="movie" value="http://www.youtube.com/v/QpctparJm90?version=3"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/QpctparJm90?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object></p>
	
	
	
	
	<h3>Q. What do the judges do?</h3><a name="15"></a>
	<p>The judges have several roles to play within tweatWELL. First of all, they are available to help and encourage you. They will actively answer questions you may have, respond to your posts, and have the final say in leadership positions like President, Dean, and Professor (Remember, there’s a subjective component beyond just racking up points). The judges will also make sure players aren’t entering offensive or profane comments. They have authority to remove points for offenses and even remove players from tweatWELL at their discretion.</p>
	
	
	<h3>Q. What is SparkPeople and why do I need to register for it?</h3><a name="16"></a>
	
	<p>A. parkPeople is a large nutrition website that helps people create daily logs of the foods they eat, create new meal plans for themselves, and ultimately improve their eating habits. We encourage you to utilize SparkPeople, create a 3-day log of your nutritional consumption (of everything you eat) so you can visualize how and where you need to improve. This site will allow you to see how many servings of Freggies you currently consume so you can create a baseline on which to progress. You’ll get an easy 30 points for completing this activity.</p>
	
	
	 <p>To register, all you have to do is click on the following link and fill in the necessary information: <a href="http://www.sparkpeople.com/myspark/register.asp">http://www.sparkpeople.com/</a></p>
	
	<h3>Q. How do I do a daily nutritional log on SparkPeople?</h3><a name="17"></a>
	<p>A. Creating a daily log on SparkPeople is very simple. All you have to do is go to sparkpeople.com, scroll over the “MY TOOLS” tab, and click on “my Nutrition”. On this page, you can add up the food you’ve eaten as well as how much water you have consumed throughout the day. Click on the “Add a Food” button and a new page will open with a search bar for you type the name of the food you consumed. Pick the exact food you ate from the drop down list created, then say how much you ate and for what meal. Continue to add food until your entire day is complete (this does not take long).</p> 
	
	<p>Once you’ve finalized your day, you can print or save the report by clicking the “See Today’s Full Report” button and then clicking either “print” to get a hard copy or “Export Data to File” to save as an excel spreadsheet. </p>
	

 




    
    
{% endblock %}