{% extends "layouts/2-column.html" %}
{% block active_nav_tab  %}faq-active{% endblock %}

{% block extra_head %}
    <script src="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script src="{{STATIC_URL}}js/lib/page/lightbox.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.css" media="screen" />
{% endblock %}

{% block left %}
<div class="questions">
	<ul class="nav-list">
		<li><a href="#1">How do I get started?</a></li>
        <li><a href="#2">What’s a “Freggie”?</a></li>
        <li><a href="#3">What are the program dates?</a></li>
        <li><a href="#4">What is the purpose of tweatWELL?</a></li>
        <li><a href="#5">How is Twitter helpful with tweatWELL?</a></li>
        <li><a href="#6">How do I earn points?</a></li>
        <li><a href="#7">How does TweatWELL work?</a></li>
        <li><a href="#8">Is Twitter the only way for me to post comments?</a></li>
        <li><a href="#9">What is the purpose of the badges on the top right?</a></li>
        <li><a href="#10">How is a week defined in the tweatWELL program?</a></li>
        <li><a href="#11">What are the incentives of the program?</a></li>
        <li><a href="#12">How will I benefit from tweatWELL?</a></li>
        <li><a href="#13">What Is a serving size?</a></li>
	<li><a href="#14">How do I change my daily goal?</a></li>
	<li><a href="#15">How can I contact you?</a></li>
	
	</ul>
</div>

{% endblock %}

{% block middle %}
    
<h1>FAQ</h1>

    <a name="1"></a>
    <h3>Q. How do I get started?</h3>
    <p>
        A. The first thing you need to do is sign up for the program at <a href="http://www.tweatwell.com">http://www.tweatWELL.com</a>.
        You will need to register with your MIX e-mail address in order to verify you are a WVU student and fill out the registration
        information. TweatWELL interacts with Twitter in a way where you can tweet your updates, and they will
        automatically be uploaded to the newsfeed at tweatWELL.com (Please see “How is Twitter helpful with tweatWELL?”).
        Therefore, it is highly recommended to use your Twitter account or sign up for a Twitter account in order
        to interact with the website via tweets or texts more easily, <em>although it is not required</em>.
    </p>

    <a name="2"></a>
    <h3>Q. What’s a “Freggie”?</h3>
    <p>
        A “Freggie” is short for fruit and veggie.
    </p>


    <a name="3"></a>
    <h3>Q. What are the program dates?</h3>
    <p>
        A. January 14 through April 27, 2013
    </p>


    <a name="4"></a>
    <h3>Q. What is the purpose of tweatWELL?</h3>
    <p>
        A. TweatWELL is a unique, point-based social network with the purpose of providing a fun way for
        WVU students to increase their intake of Freggies. This program is designed specifically for students at WVU.
        The majority of WVU students do not consume the recommended levels of Freggies per day (5-9 servings).
        WELLWVU believes the more involved you are with this program, the more likely you will be to consume the
        recommended level of Freggies per day, thus reaping the many nutritional benefits they have to offer.
    </p>

    <a name="5"></a>
    <h3>Q. How is Twitter helpful with tweatWELL?</h3>
    <p>
        A. Twitter makes it very easy to post your comments and photos onto www.tweatWELL.com via your twitter account,
        a cell phone twitter application, or by texting to “40404”. You simply use hashtag <strong>“#freggie”</strong> when
        you want to post to www.tweatwell.com, and it will automatically post your comment or picture to
        the www.tweatwell.com website. Anytime you tweet or text your post, simply use the hashtag <strong>“#freggie”</strong>
        and your post will automatically be uploaded to www.tweatwell.com.
    </p>
    <p>
        For example, “#freggie I ate an orange and one serving of carrots with my lunch today!” or
        “I ate a banana for a snack and drank 2 bottles of water so far today! #freggie.”
    </p>


    <a name="6"></a>
    <h3>Q. How do I earn points?</h3>
    <p>
        A. Points are distributed based on different interactions with the site. The following is a
        list of how to receive points and the amount of points awarded:
    </p>
    <table class="tw-data-table">
        <tr>
            <td>Posting you ate a Freggie</td>
            <td>2 points</td>
        </tr>
        <tr class="odd-row">
            <td>Earn Professor Badge</td>
            <td>1 point</td>
        </tr>
        <tr>
            <td>Earn Dean Badge</td>
            <td>3 points</td>
        </tr>
        <tr class="odd-row">
            <td>Earn President Badge</td>
            <td>5 points</td>
        </tr>
        <tr>
            <td>Correctly answering the question of the week</td>
            <td>5 points</td>
        </tr>
        <tr class="odd-row">
            <td>Posting a picture of what you ate</td>
            <td>5 points</td>
        </tr>
        <tr>
            <td>Spin to Win</td>
            <td>Variable</td>
        </tr>
    </table>
    <br/>
    <p>
        There is also a subjective part to the tweatWELL program. WELLWVU will award extra participation points for
        reaching certain goals, showing improvement, etc. If you noticed you have received more points on the sidebar,
        it is because we feel like you are on the right track.
    </p>

    <a name="7"></a>
    <h3>Q. How does tweatWELL work?</h3>
    <p>
        A. The social network is designed for you to earn points based on the amount of interactions you have with the program.
        Points are distributed for various interactions among the site, including posting the fruits and veggies you consume,
        spinning the wheel, etc. (Please see “How do I get points?” for the distribution table). The healthier you eat and the
        more active you are on the site, the more points you get. It’s that simple!
    </p>

    <a name="8"></a>
    <h3>Q. Is Twitter the only way for me to post comments?</h3>
    <p>
        A. No. You can make posts directly at www.tweatWELL.com much like you would use Facebook.
        However, having a Twitter account will easily allow you to tweet your posts from your phone. Also,
        by having a Twitter account you can text your posts to “40404” as long as you use the hashtag #freggie.
    </p>

    <a name="9"></a>
    <h3>Q. What is the purpose of the badges on the top right?</h3>
    <p>
        A. Each of the four badges represents an accomplishment you have made throughout tweatWELL. They include:
    </p>
    <p>
        <img src="{{ STATIC_URL }}img/icon/prez-on.png" width="45" height="45" style="padding:0 5px 5px 0;" align="left"/>

        The <strong>President badge</strong> is normally grayed out, but if it is lit up, you are currently the President
        of the Freggies! This means that you have consumed the most fruits AND veggies throughout the week and will
        have a better chance of winning the weekly prize. The President badge will reset at the end of each week.
    </p>
    <p>
        <img src="{{ STATIC_URL }}img/icon/deanveg-on.png" width="45" height="45" style="padding:0 5px 5px 0;" align="left"/>
        <img src="{{ STATIC_URL }}img/icon/deanfruit-on.png" width="45" height="45" style="padding:0 5px 5px 0;" align="left"/>

        The <strong>Dean badge</strong> is normally grayed out, but if it is lit up, you are currently the Dean of veggies OR the
        Dean of fruits! This means that you have eaten more veggies OR more fruits than any other user this week.
        Therefore, there will be two Deans each week. You will also have a better chance of winning the weekly prize. The Dean badge will reset at the end of each week.
    </p>
    <p>
        <img src="{{ STATIC_URL }}img/icon/prof-on.png" width="45" height="45" style="padding:0 5px 5px 0;" align="left"/>

        The <strong>Professor badge</strong> is normally grayed out, but if it is lit up, you are currently the Professor
        of a particular fruit or veggie! This means you have eaten more of a particular fruit or veggie than any other user.
        You will also have a better chance of winning the weekly prize. The Professor badge will reset at the end of each week.
    </p>
    <p>
        <img src="{{ STATIC_URL }}img/icon/joker-on.png" width="45" height="45" style="padding:0 5px 5px 0;" align="left"/>

        The <strong>Joker badge</strong> is normally grayed out, but if it is lit up, you have spun the Salad Spinner and landed on
        Joker this week. This means you have won a coupon for a free piece of fruit or vegetable.
        If you land on the Joker, we will e-mail you a coupon with more information.
    </p>


    <a name="10"></a>
    <h3>Q. How is a week defined in the tweatWELL program?</h3>
    <p>
        A. A new week begins every Monday starting at 12:01 AM. You will be awarded the appropriate badges
        and maintain that badge for at least a week.
    </p>

    <a name="11"></a>
    <h3>Q. What are the incentives of the program?</h3>
    <p>
        <strong>Winners:</strong> Although the majority of this program is just for fun competition, awards will be given throughout the program. Here’s how:
    </p>
    <p>
        Each week there will be a raffle. If you have accumulated at least <strong>40</strong> points for the week, you will be entered into the raffle. 
        You can increase your chances of winning the raffle by being the President, Dean or Professor. President will receive an additional 5 
        names in the raffle, Deans will receive an additional 2 names in the raffle, and Professors will receive an additional 1 name in the raffle.
    </p>
    <p>
        <strong>Points:</strong> Points are used as a tool to personally motivate and encourage you to be active on the tweatWELL site and
        increase your consumption of Freggies each day. Points are awarded for members to use for friendly competition.
        It is a good representation of how active our members are on the site and how much you are improving your Freggie consumption.
    </p>
    <p>
        <strong>Professor:</strong> You can become the “Professor” of a specific fruit or veggie by consuming more of a
        particular fruit or vegetable than any other user in the tweatWELL program.  This score is reset each week and will show
        the professor of a specific fruit or veggie each week.
    </p>
    <p>
        For example, the player who is currently consuming the most bananas during the week and posts it on tweatWELL will 
        become the Professor of bananas. You will remain the Professor of bananas until the end of the week.    
    </p>
    <p>
        <strong>Dean:</strong> You can become the “Dean” of either fruits OR veggies by consuming more than anyone else 
        in the tweatWELL program. This score is reset each week and will show the Dean of fruits and the Dean of veggies each week.
    </p>
    <p>
        For example, the player who is currently consuming the most veggies and posts it on tweatWELL will become the 
        Dean of the veggies. You will remain the Dean of the veggies until the end of the week.    
    </p>
    <p>
        <strong>President:</strong> You can become President of all Freggies by consuming the most Freggies when compared 
        to everyone else in the tweatWELL program. This score is reset each week and will show the President of the Freggies each week.
    </p>
    <p>
        For example, the player who is currently consuming the most Freggies during the week and posts it on tweatWELL
        will become President of the Freggies. You will stay the President of the Freggies until the end of the week.
    </p>

    <a name="12"></a>
    <h3>Q. How will I benefit from tweatWELL?</h3>
    <p>
        A. Hopefully you will:
    </p>
    <ol class="disc">
        <li>You can win cool weekly prizes!</li>
        <li>Learn how easy it is to eat 5-9 servings of Freggies per day and make lasting changes in your Freggie consumption </li>
        <li>Feel the amazing difference in the amount of energy you have when you eat the optimal amount of Freggies every day.</li>
        <li>Develop a taste for Freggies that will last for the rest of your life. </li>
        <li>Have fun playing with all the features of the tweatWELL program!</li>
    </ol>

    <br/>
    <a name="13"></a>
    <h3>Q. What is a serving size?</h3>
    <p>
        A. Understanding correct portion sizes is another way to stay on top of your nutrition. 
        To learn what the correct portion size is for your Freggie,
        <a class="tw-lightbox" href="{{ STATIC_URL }}img/layout/portion-distortion.jpg">click here</a>.
    </p>
    
     <a name="14"></a>
    <h3>Q. How do I change my daily goal</h3>
    <p>
        A. You can change your daily goal by clicking on Settings at the top right portion of the screen. 
    </p>
    
     <a name="15"></a>
    <h3>How can I contact you?</h3>
    <p>
        A. You can e-mail us at tweatwell AT wvu.edu. Please allow at least one business day for a response. 
    </p>


{% endblock %}
