{% extends "layouts/1-column.html" %}
{% block middle %}

<h1>Privacy Policy</h1>

<h2>Updated: January 9 2011</h2>

<p>
    The privacy of your personal information is paramount.  In fact, helping you and control your
    information is what we're all about. This privacy policy describes how we protect and handle
    the personal information that you provide and that we obtain through our web-based service at
    <a href="https://www.videntity.com">https://www.videntity.com</a>,
    <a href="http://www.physique7.com">http://www.physique7.com</a> and related web sites (Videntity).
</p>

<h2>How Physique7 Manages and Secures Your Information</h2>
<p>
    Physique7 is designed to help share information such as your weight with
    coaches and trainers.  As a healthy game, Physique7 compares your information
    with the coaches in order to facilitate the competition based on your. Physique7
is more fun  when you leave your profile public, but you can choose to remain anonymous.
</p>

<p>IF YOU SET YOUR PROFILE TO ANONYMOUS YOUR INFORMATION IS:</p>

<ul>
    <li>STILL VISIABLE TO THE COACHES.</li>
    <li>PUBLICLY VISABLE BUT LISTED AS ANONYMOUS</li>
</ul>

<p>
    In other words, anonymous just means your name is not displayed to other users of the public.
</p>

<p>
Although most Videntity services are encrypted, this instance of Physiqe7 IS
NOT ENCRYPTED so information is sent over the Internet in the clear.
This means Physique7 is about as secure as Facebook or any other social site.
DO NOT USE PHYSIQUE7 TO STORE PERSONAL HEALTH INFORMATION ("PHI").   
</p>

<p>
    Physique7 is not intended to diagnose or treat any disease or condition.  Please
    talk to your care provider prior to starting any exercise regimine.
</p>

<p>
Videntity Systems Inc and its affiliates are not responsible for any injury as a
result of using Physique7.
</p>


<h2>1. Introduction on Videntity</h2>
<p>
    Videntity is a secure transaction service designed to allow you to share personal information
    with other parties in many ways.  Its also designed to create immutable audit records of
    event as "transactions" as well as support trust relationships between multiple parties.
    Identity verification, transaction authorization, and auditing are key capabilities of Videntity.
    Videntity is designed for HIPAA compliance and HITECH security requirements.
</p>



<h2>2. Creating an Account and Record & Collection of Your Personal Information</h2>

<p>Videntity accounts are created by you the individual or by an organization on your behalf. The first time you sign in to Videntity, you will be asked to create an account. To do so, you must provide personal information, such as your email address, name, and date of birth. To better assess your health and wellness and to create a plan that is tailored just for you, Videntity will request additional information, such as height, weight, and age.  Medical record information and laboratory results you provide or transfer to Videntity will also be used as described in this privacy policy.</p>

<p>When you sign up a 15 digit account number is assigned to your account.  Your account number, user name, or email address may all act  as your username and you will be asked to create a password and a personal identification number (PIN). We will use the email address you provide to send you an email requesting that you validate your account.</p>

<h2>3. Account and Record Access and Controls</h2>

<p>By default, you are the custodian of any records you create. You can close your account at any time by signing into your Videntity account and editing your account profile, however the all information sent to Videntity is stored indefinitely and should be considered permanent and immutable for all practical purposes.  You may at any time annotate past transaction with a new transaction that references the old transaction.</p>

<h2>4. How We Use Your Personal Information</h2>

<p>We use personal information collected through Videntity, including health and wellness information, to enable the services provided through Videntity and as described in this privacy statement. We do not use or disclose your information except as described in this privacy statement. In support of these uses, we may use personal information to:</p>
<ul>
    <li>provide you with important information about Videntity, including critical updates and notifications;</li>
    <li>send you email and/or mobile alerts;</li>
    <li>modify your Videntity plan to better address your health needs and progress; and</li>
    <li>determine appropriate services relevant to you, your lifestyle and your geographic location.</li>
</ul>

<p>We may access and/or disclose your personal information if we believe such action is necessary to: (a) comply with the law or legal process served on us; (b) protect and defend our rights or property (including the enforcement of our agreements); or (c) act in urgent circumstances to protect the personal safety and welfare of Videntity users or members of the public. Personal information collected on Videntity is currently stored and processed in the United States.</p>

<h2>5. How We Use De-identified and Aggregated Information and Statistics</h2>

<p>We may use de-identified and or aggregated information gathered from Videntity and related statistics to improve the services provided through Videntity, and for certain research and analysis including clinical medical research. We may also provide this information to our partners for such purposes. De-identified information does not include personally identifiable information such as name, email address, or address, but may include gender, height, weight, postal code, and medical information. Aggregated information is information from multiple users that is not associated with any individual user account.</p>

<h2>6. Sharing Records with Health Providers and Other Businesses through Videntity</h2>

<p>With legal questions or concerns, please contact us at: <a href="legal@videntity.com">legal@Videntity.com</a>.</p>

<p>If you create your personal account on Videntity, then you control what health and wellness information you allow service providers to access.  If your account is created under an business organization, such as a health care provider, then the business or organization will also have access to your information.  You should refer to these organization's own privacy policy to understand how your information is used by these entities.</p>

<h2>7. Deleting Records</h2>

<p>You cannot delete any information in Videntity.  When a transaction occurs, it is a permanent fixture within our system.  You can however, reference past transactions with a new transaction for any reason.  This provides you the ability to comment or dispute errors or to create a conversation or audit trail around a particular transaction.  You can deactivate your account, but past transactions will remain in Videntity's transaction database. health and wellness record by signing in to your Videntity account and editing a record's profile.</p>

<h2>8. Email and Mobile Alerts</h2>

<p>To keep you informed of the latest improvements and alerts relating to your Videntity health and wellness plan, Videntity may send you emails and or mobile alerts. You accept the security risks associated with sending personal medical information via email and mobile alerts.</p>

<h2>9. Security of Your Personal Information</h2>

<p>We are committed to protecting the security of your personal information. We use a variety of security technologies and procedures to help protect your personal information from unauthorized access, use, and disclosure. For example, we store the personal information you provide encrypted on computer servers with limited access that are located in controlled facilities. We restrict access to personal information to Videntity employees, contractors, and agents who need to know that information in order to operate, develop, or improve our services. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.</p>

<h2>10. Enforcement of This Privacy Statement</h2>

<p>If you have questions regarding this statement, you should contact us at legal@Videntity.com.</p>

<h2>11. Use of Cookies</h2>

<p>We use cookies to enable you to sign in and to help personalize Videntity. A cookie is a small text file that a web page server places on your hard disk. It is not possible to use cookies to run programs or deliver viruses to your computer. A web server assigns cookies uniquely to you, and only a web server in the domain that issued the cookie to you can read the cookies.</p>

<p>One of the primary purposes of cookies is to provide a convenience feature to save you time. For example, if you personalize a web page, or navigate within a site, a cookie helps the site to recall your specific information on subsequent visits. Using cookies simplifies the process of delivering relevant content and eases site navigation. When you return to the web site, you can retrieve the information you previously provided, so you can easily use the site's features that you customized.</p>

<p>You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline some or all cookies if you prefer. If you choose to decline all cookies, you may not be able to use interactive features of this or other web sites that depend on cookies.</p>

<h2>12. Changes to this Privacy Statement</h2>

<p>We may occasionally update this privacy statement. When we do, we will also revise the "last modified" date at the top of the privacy statement. For material changes to this privacy statement, we will notify you either by placing a prominent notice on the home page of Videntity or by sending you a notification directly. We encourage you to review this privacy statement periodically to stay informed about how we are helping to protect the personal information we collect. Your continued use of Videntity constitutes your agreement to this privacy statement and any updates. Please be aware that this privacy statement and any choices you make on Videntity do not necessarily apply to personal information you may have provided to us in the context of other of our separately operated products or services.</p>

<h2>13. Contact Information</h2>

<p>We welcome your comments regarding this privacy statement. If you have questions about this statement or believe that we have not adhered to it, please contact us by email by following this link: info@Videntity.com.</p>

<p>
Our address is: <br/>
Videntity Systems, Inc.<br/>
886 Chestnut Ridge Rd, 6th Floor <br/>
Morgantown, WV 26505
</p>

<p>Videntity<sup>TM</sup> is our trademark.</p>
{% endblock %}