#header{
    margin-bottom:10px;
    position:relative;
    .user-nav {
        position:absolute;
        right:0px;
        top:5px;
        width:400px;
        text-align:right;
        font-weight: normal;
        font-size:14px;
        text-shadow: 0 1px 0 #ffffff;
    }
}