#avatar {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#status {
	margin-top: 15px;
}
#checkin {
	margin-bottom: 20px;
	float: left;
}
#userpoints{
	clear: both;
}
#userpoints ul{
	padding: 0px;
	margin: 0px;
}
#userpoints ul li{
	letter-spacing: 1px;
	padding-bottom: 3px;
	padding-top: 2px;
	border-bottom-color: #597300;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	list-style-type: none;
}
#cii, #wtt {
	height: 25px;
	width: 210px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 5px;
}
#submitci, #submitwt {
	float: left;
	height: 25px;
	width: 80px;
	background-color: #003466;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.dashboard {
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	margin-bottom: 15px;
}
.dashboard  p {
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
}
.dashboard ul {
	margin: 0px;
	padding: 0px;
	width: 215px;
}
.dashboard ul li {
	list-style-type: none;
	float: left;
	width: 205px;
	background-color: #5eabd6;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
}
.dashboard h3 {
	font-size: 2.0em;
	color: #FFFFFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#awards{
	margin-bottom: 20px;
	clear: both;
}

#badges{
	margin-bottom: 20px;
	clear: both;

}

#container {
	float: left;
}
#container ul {
	padding: 0px;
	width: 215px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container ul li {
	list-style-type: none;
	margin-bottom: 15px;
}
#rank{
	margin-top: 20px;
	clear: both;
}
#rank  ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#rank  ul  li {
	border-color: #476200;
	border-width: 1px;
	border-style: solid;
	margin-right: 10px;
	height: 98px;
	width: 98px;
	list-style-type: none;
	float: left;
	text-align: center;
}

#rank a {
	color: #fce314;
	text-decoration: none;
}

#rank h5{
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 4em;
}

#rank  ul  li.mid  {
	margin-right: 10px;
	margin-left: 10px;
}
#judges{
	padding-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

#judges img{
	margin-bottom: 3px;
	margin-right: 5px;
}

#public_feed {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
#public_feed ul {
	margin: 0px;
	padding: 0px;
	float: left;
}
#public_feed ul li {
	list-style-type: none;
}




#scroller {
	width: 440px;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	list-style-type: none;
}

#scroller ul li {
	display: block;
	border-bottom-color: #e6e6e6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-top: 0.45em;
	margin-bottom: 0.45em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


.commentform li{
}

.commentform textarea{
	width: 440px;
	height: 50px;
}

.comment-container a { margin-top: -6px; display: inline-block; line-height: 10px; border-right-color: #dddddd; border-left-color: #dedede; border-bottom-color: #dfdfdf; border-right-width: 1px; border-right-style: solid; border-left-style: solid; border-bottom-style: solid; border-bottom-width: 1px; border-left-width: 1px; font-size: 11px; text-decoration: none; color: #698700; padding:3px; }

.commentscroller {
	margin-left: 0;
	margin-right: 0;
	list-style: none;
	padding: 1em !important;
	width: 440px;
}

.commentlink{
	display: inline-block;
	text-align: right;
}
ul .commentscroller {
	display: block;
}

ul .commentscroller li{
	width: 410px;
	clear: both;
	background-position: 0;
	background-color: #fdffe1;
	color: #8d8d8d;
	padding-left: 30px;
	display: block;

}

.small-tab { width:80px; height:5px;padding:1px; background:#58A0C8; }

#malecoachestable_div, #male_table_div {
	margin-bottom: 35px;
}

.what {
	margin-top: -70px;
	color: #6a8800;
	margin-bottom: 0px;
	padding-bottom: 0px;
}



.status{
	color: #4c4c4c;
	font-size: 1.3em;
}

.tweated{
	color: #b3b3b3;
}

.logo{
	margin-top: 80px;
}
.newtweats{
	border-bottom-color: #ebebeb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 0px;
	margin-top: 20px;
	color: #3b3b3b;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0px;
}




.foodicon{
	display: inline;
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	cursor: pointer;
}

#topscroll li{
	width: 410px;
}

.points{
	color: #f7ec31;
}

.avataricon{
	margin-right: 10px;
}

.freggie{
	margin-left: 25px;
	margin-top: 10px;
}
.badge{
	width: 68px;
	height: 55px;
	float:left;
	text-align: center;
	padding-bottom: 5px;
}
#profile{
	clear: both;
	display: block;
}
