@mixin nav-tab-active {
    color:#6A8800;
    background-color:#ffffff;
    text-shadow: 0 1px 1px #cccccc;
}

#topnav{
    @include horizontal-list;
    margin:50px 0 0 10px;
    li {
        overflow:hide;
    }
    a {
        display:block;
        font-size:16px;
        background:#6A8800;
        color:#FFFFFF;
        padding:10px 15px 8px 15px;
        @include border-top-radius(5px);
        text-decoration:none;
        text-shadow:0 -1px 0 rgba(0,0,0,0.5);
        @include transition(.2s);

    }
    a:hover {
        @include nav-tab-active;
    }

}

body.home-active,{
    #topnav a.nav-home-tab {
        @include nav-tab-active;
    }
}

body.roulette-active,{
    #topnav a.nav-roulette-tab {
        @include nav-tab-active;
    }
}

body.recipes-active,{
    #topnav a.nav-recipes-tab {
        @include nav-tab-active;
    }
}

body.qow-active,{
    #topnav a.nav-qow-tab {
        @include nav-tab-active;
    }
}

body.faq-active,{
    #topnav a.nav-faq-tab {
        @include nav-tab-active;
    }
}
