#roulette-canvas {
    width:350px;
    height:350px;
    cursor:pointer;
    float:left;
    border: 1px solid grey;
    background-image: url(/static/img/roulette/test-bgrd.png);
}

#roulette-points {
    border:1px solid black;
    width:330px;
    float:right;
}