#roulette-canvas {
    width:350px;
    height:350px;
    cursor:pointer;
    float:left;
    background-image: url(/static/img/roulette/wheel.png);
}

#roulette-points {
    width:330px;
    float:right;
    .points-display {
        @include border-radius(5px);
        margin:20px 0 20px 0;
        border:2px solid silver;
        background:#F5F5F5;
        padding:10px;
        height:60px;
        color: #2e2e2e;
        font-size:14px;
        text-shadow: 0px 1px 2px #ebebeb;
        select{
            font-size:14px;
        }
        h3 {
            color:#666666;
        }
        .hide {
            display:none;
        }
        .msg {
            font-size:16px;
        }
    }
    #wager {

    }

}
