.icon{
	display: inline-block;
	cursor: pointer;
    width:66px;
    height:66px;
    margin:0 8px 8px 0;
}

.icon-badge {
    width:30px;
    height:30px;
    display:inline-block;
}

.profile {
    .avatar {
        @extend .avatar-skin;
    }
    .status {
        font-style:italic;
    }
    table.point-table {
        clear:both;
        width:100%;
        td {
	        letter-spacing: 1px;
	        padding:.5em 0 .5em 0;
            border-bottom:1px dotted #597300;
        }
        .points {
            text-align:right;
        }
        .point-total {
            text-transform:uppercase;
            color:#f7ec31;
            font-weight:bold;
        }
    }
}


#avatar {

}
#status {
	margin-top: 15px;
}

