







<div id="footer"><!-- footer -->
    	<div id="footer_nav"><!-- footer nav-->
        	<img src="{{ STATIC_URL }}/img/powered_by.gif" alt="Powered by"><br />
        	<ul>     
        		<li><a id="restcat" href="http://github.com/aviars/RESTCat">RESTCat: The Enterprise Social Object Server</a></li>     
            	<li id="plus">plus</li>
            	<li><a id="videntity" href="http://www.videntity.com">Videntity Systems, Inc.</a></li>
        	</ul>
    	</div><!-- end of footer_nav -->        
		<p>&#124; &copy;2011 Videntity Systems, Inc. &#124;</p>
	</div><!-- end of footer -->