{% load avatar_tags %}

<div class="profile">

    <div class="avatar">
        <a href="/accounts/profile">{% avatar user %}</a>
    </div>

    <h3>{{ user.first_name }} {{ user.last_name }}</h3>

    <p class="status">{{all.status}}</p>

    <table class="point-table">
        <tr>
            <td>FREGGIES</td>
            <td class="points">{{ freggie_points }}</td>
        </tr>
        <tr>
            <td>COMMENTS</td>
            <td class="points">{{ comment_points }}</td>
        </tr>
        <tr>
            <td>SPIN TO WIN</td>
            <td class="points rt-winnings">{{ roulette_points }}</td>
        </tr>
        <tr>
            <td>BADGE BONUS</td>
            <td class="points">{{ badge_points }}</td>
        </tr>
        <tr>
            <td>QUESTION OF THE WEEK</td>
            <td class="points">{{question_points}}</td>
        </tr>
        <tr>
            <td class="point-total">Total Points</td>
            <td class="points point-total rt-total">{{ points }}</td>
        </tr>
    </table>

</div>

<div class="sbar-module">
    <h3>Badges</h3>

    <div class="icon-badge icon-prez-{{ user.get_profile.president_badge|yesno:"on,off" }}" title="President: Eat the most Freggies and you could be the President of all fruits and vegetables for the week."></div>
    <div class="icon-badge icon-prof-{{ user.get_profile.professor_badge|yesno:"on,off" }}" title="Professor: Eat the most bananas, or broccoli, or any other specific Freggie and you could be the Professor of that specific Freggie for the week."></div>
    <div class="icon-badge icon-deanfruit-{{ user.get_profile.dean_fruit_badge|yesno:"on,off" }}" title="Dean Of Fruits: Eat the most fruits and you could be the Dean of fruits for the week."></div>
    <div class="icon-badge icon-deanveg-{{ user.get_profile.dean_veggie_badge|yesno:"on,off" }}" title="Dean of Veggies:  Eat the most veggies and you could be the Dean of veggies for the week."></div>
    <div class="icon-badge icon-joker-{{ user.get_profile.joker_badge|yesno:"on,off" }}" title="Joker: You have won the joker by playing spin to win."></div>
    
    <p class="badge-subtext">
        Any badges won will be in color. Roll-over each badge to learn
        what they mean, or read more in the <a href="/faq">FAQ</a>
    </p>

</div>

<div class="sbar-module">
    <h3>Spin To Win</h3>
    <a href="/roulette"><img src="{{ STATIC_URL }}img/layout/spin-promo.png" width="150" height="150" /></a>
</div>

<div class="sbar-module tod">
    <h3>Tip Of The Day</h3>

    <p>{{ tip_text }}</p>
</div>


<div class="sbar-module">
    <a href="http://twitter.com/#!/wellwvu" target="_blank"><img src="{{ STATIC_URL }}img/layout/twitter.png" width="44" height="43" alt="Well WVU On Twitter" /></a>
    &nbsp;
    <a href="http://well.wvu.edu" target="_blank"><img src="{{ STATIC_URL }}img/layout/wellwvu-logo.png" width="160" height="46" alt="Well WVU" /></a>
</div>