{% load avatar_tags %}

<div class="profile">

    <div class="avatar">
        <a href="/avatar/change">{% avatar user %}</a>
    </div>

    <h3>{{ user.first_name }}</h3>

    <p class="status">{{all.status}}</p>

    <table class="point-table">
        <tr>
            <td>FREGGIES</td>
            <td class="points">{{ freggie_points }}</td>
        </tr>
        <tr>
            <td>COMMENTS</td>
            <td class="points">{{ comment_points }}</td>
        </tr>
        <tr>
            <td>ROULETTE</td>
            <td class="points">{{ roulette_points }}</td>
        </tr>
        <tr>
            <td class="point-total">Total Points</td>
            <td class="points point-total">{{ points }}</td>
        </tr>
    </table>

</div>

<div class="sbar-module">
    <h3>Badges</h3>

    joker_badge         {{user.get_profile.joker_badge}}<br/>
    dean_veggie_badge   {{user.get_profile.dean_veggie_badge}}<br/>
    dean_fruit_badge    {{user.get_profile.dean_fruit_badge}}<br/>
    president_badge     {{user.get_profile.president_badge}}<br/>
    professor_badge     {{user.get_profile.professor_badge}}<br/>

{#    <div class="icon-badge icon-dean-{{ DeanAward|yesno:"on,off" }}" title="Dean"></div>#}
{#    <div class="icon-badge icon-professor-{{ ProfessorAward|yesno:"on,off" }}" title="Professor"></div>#}
{#    <div class="icon-badge icon-president-{{ PresidentAward|yesno:"on,off" }}" title="President"></div>#}
</div>

<div class="sbar-module">
    <h3>Judges</h3>

    <div class="icon icon-judge_kiwi" title="Kiwi"></div>
    <div class="icon icon-judge_pepper" title="Pepper"></div>
    <div class="icon icon-judge_apple" title="Apple"></div>
    <div class="icon icon-judge_daikon" title="Daikon"></div>
    <div class="icon icon-judge_gala" title="Gala"></div>
    <div class="icon icon-judge_cherry" title="Cherry"></div>
</div>

<div class="sbar-module tod">
    <h3>Tip Of The Day</h3>

    <p>{{qt.tip}}</p>
</div>

<div class="sbar-module">
    <img src="{{ STATIC_URL }}img/freggie.png" alt="Freggie" border="0" class="freggie"/>
</div>

<div class="sbar-module">
    <a href="http://twitter.com/#!/wellwvu" target="_blank"><img src="{{ STATIC_URL }}img/twitter.png" alt="Twitter logo" border="0" /></a>
    <a href="http://well.wvu.edu" target="_blank"><img src="{{ STATIC_URL }}img/wellwvu-logo.gif" alt="Well WVU logo" border="0" /></a>
</div>