<ul id="topnav">
    {% if user.is_authenticated %}
        <li><a class="nav-home-tab" href="/">Home</a></li>
        <li><a class="nav-profile-tab" href="/profile">My Profile</a></li>
        <li><a class="nav-recipes-tab" href="/recipes/">Recipes</a></li>
        <li><a class="nav-roulette-tab" href="/roulette/">Spin To Win</a></li>
        <li><a class="nav-qow-tab" href="/questions/ask/">Question Of The Week</a></li>
        <li><a class="nav-board-tab" href="/leaderboard/">Leaderboard</a></li>
    {% endif %}
</ul>










