<div id="wvubanner-wrapper">
    <div class="wvubanner">
        <a href="http://www.wvu.edu/"><img src="{{ STATIC_URL }}img/layout/wvu_logo.gif" alt="West Virginia University" width="209" height="32" /></a>
        <ul>
            <li><a href="http://www.wvu.edu/SiteIndex/">A-Z Index</a></li>
            <li><a href="http://www.wvu.edu/CampusMap/">Campus Maps</a></li>
            <li><a href="http://directory.wvu.edu/">Directory</a></li>
            <li><a href="mailto:wvubi@mail.wvu.edu">Contact Us</a></li>
            <li><a href="http://www.wvu.edu/">WVU Home</a></li>
        </ul>
    </div>
</div>
