{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}home-active{% endblock %}

{% block extra_head %}
    <script src="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script src="{{STATIC_URL}}js/lib/page/lightbox.js"></script>
    <script src="{{STATIC_URL}}js/lib/page/checkin.js"></script>
    <script src="{{STATIC_URL}}js/lib/page/comment.js"></script>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/lib/vendor/fancybox/jquery.fancybox.css" media="screen" />
{% endblock %}


{% block middle %}
    <h1>What Freggie Are You Eating?</h1>
    

    <div class="tweat-form">
        <p style="font-size:1.2em;">
                A "freggie" is one serving of a fruit or vegetable.
                <strong><a href="/faq">Learn more about freggies and scoring in the FAQ</a>.</strong>
        </p>

        <br/><br/>
        <form id="checkin-form" enctype="multipart/form-data" action='/' method='POST' class="tw-form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit" class="button" />
        </form>
    </div>

<div class="tweat-form">
    <h3 class="sub">Eating Something Else? Add it:</h3>

    <form action='/checkin/nonveg/' method='POST' class="tw-form">
        {{ nonvegform.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" class="button" />
    </form>
</div>


    <h3 class="sub">Latest Tweats</h3>

    {% load avatar_tags %}
    {% for t in tweatlist%}

        <div class="tweat-instance">
            {% if t.tweat.user %}
                <div class="user-avatar">
                    <a href="/profile/admin-profile/{{ t.tweat.user }}">{% avatar t.tweat.user 45 %}</a>
                </div>
            {% endif %}

            <div class="tweat-content">
                <div class="tweat-txt">
                    <a href="/profile/admin-profile/{{ t.tweat.user }}">{{ t.tweat.user.first_name }}</a> just ate {{ t.tweat.freggie }}
                </div>

                <div class="tweat-timestamp">
                    {{ t.tweat.evdt }}
                </div>

                <div class="tweat-quote">
                    <em>{{ t.tweat.text }}</em>
                </div>

                {% load thumbnail %}
                {% if t.tweat.photo %}
                    <div class="tweat-photo">
                        {% thumbnail t.tweat.photo "75" as im %}
                            <a class="tw-lightbox" href="{{ MEDIA_URL }}{{t.tweat.photo}}"><img src="{{ im.url }}" width="75" /></a>
                        {% endthumbnail %}

                    </div>
                {% endif %}

                <div class="tw-comments">
                    Comments: <a href="" class="tw-comment-trigger">Add Comment</a><br/>
                    <form action='/checkin/comment/{{t.tweat.id}}/' method='POST' class="tw-comment-form tw-form">
                        {{ commentform.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Leave Comment" class="button" />
                    </form>

                    {% if t.comments %}
                        {% for c in t.comments %}

                            <div class="tw-comment-instance">
                                {% if c.user %}
                                    <div class="comment-avatar">
                                        {% avatar c.user 30 %}
                                    </div>
                                {% endif %}
                                <strong>{{ c.user.first_name }} {{ c.user.last_name }}</strong>:
                                <p>
                                    <em>"{{ c.text }}"</em>
                                </p>
                                <div class="timestamp">{{ c.txdt}}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>


    {% endfor %}

{% endblock %}

{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}
