{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}home-active{% endblock %}

{% block extra_head %}
    <script src="{{STATIC_URL}}js/lib/page/checkin.js"></script>
{% endblock %}

	
{% block middle %}
    <h1>Check In</h1>
    <p>
        Earn points by entering what you are eating. Earn enough points
        and you can earn a badge! Note a Freggie is either a fruit or a vegetable.
    </p>



    <div class="tweat-form">
        <h3 class="sub">What Fruits and Veggies You Are Eating?</h3>

        <form enctype="multipart/form-data" action='/' method='POST' class="tw-form">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit" class="button" />
        </form>
    </div>
    
    <div class="nonveg-form">
        <h3 class="sub">Eating Something Else?</h3>

        <form action='/checkin/nonveg/' method='POST' class="nv-form">
            {{ nonvegform.as_p }}
            {% csrf_token %}
            <input type="submit" value="Submit" class="button" />
        </form>
    </div>

    <h3 class="sub">Latest Tweats</h3>

    {% load avatar_tags %}
    {% for t in tweatlist%}

        <div class="tweat-instance">
            {% if t.tweat.user %}
            <div class="avatar">
                {% avatar t.tweat.user 45 %}
            </div>
            {% endif %}

            <div class="tweat-content">
                <div class="tweat-txt">
                     <strong>{{ t.tweat.eattext }}</strong>
                </div>

                <div class="tweat-quote">
                    <em>{{ t.tweat.text }}</em>
                </div>

                {% load thumbnail %}
                {% if t.tweat.photo %}
                <div class="tweat-photo">
                    {% thumbnail t.tweat.photo "50" as im %}
                        <a href="{{ MEDIA_URL }}{{t.tweat.photo}}"><img src="{{ im.url }}" width="50" /></a>
                    {% endthumbnail %}
		    
                </div>
                {% endif %}

                <div class="tweat-comments">
                    Comments: <a href="" class="tw-comment-trigger">Add Comment</a><br/>
                    <form action='/checkin/comment/{{t.tweat.id}}/' method='POST' class="tweat-comment-form tw-form">
                        {{ commentform.as_p }}
                        {% csrf_token %}
                        <input type="submit" value="Leave Comment" class="button" />
                    </form>

                    {% if t.comments %}
                        {% for c in t.comments %}

                            <div class="tweat-comment-instance">
                                {% if c.user %}
                                <div class="avatar">
                                    {% avatar c.user 30 %}
                                </div>
                                {% endif %}
                                <strong>{{ c.user.username }}</strong>:
                                <p>
                                    <em>"{{ c.text }}"</em>
                                </p>
                                <div class="timestamp">{{ c.txdt}}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>


    {% endfor %}
TIP TEXT: {{ tip_text }} <br>
QUESTION POINTS: {{question_points}}


{% endblock %}

{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}
