$max-width: 980px !default;

html {
    background-color: #5fa1c8;
}

body {
    -webkit-text-size-adjust: none;
    position:relative;
}

#main {
    background:#d1b11e image-url('layout/page-bgrd.png') repeat-x;
}

#content {
    @include pie-clearfix; 
    max-width: $max-width;
    margin: 0px auto 0px auto;
    padding:10px 0 25px 0;
    background: image-url('layout/girls-bgrd.png') no-repeat 300px 10px;
}

.col-main {
    @include pie-clearfix;
    @include border-radius(10px);
    min-height:225px;
    background:#fff;
    padding:25px 10px 25px 10px;
}

#col-main-sidebar-left {
    float:left;
    margin-left:14px;
    width:700px;
    margin-top:10px;
}

#col-main-sidebar-right {
    float:left;
    margin:0;
    padding:0 10px 0 0;
    width:700px;
    margin-top:10px;
}

#col-main-sidebar-both {
    float:left;
    margin-left:10px;
    width:450px;
    margin-top:10px;
}

#sidebar-left {
    width:240px;
    padding:5px 5px 15px 0;
    float:left;
    border-right:1px solid silver;
}

#sidebar-right {
    width:240px;
    padding-left:10px;
    float:left;
}

#col-2-bgrd {
    @extend .col-main;
    /*background:#FFFFFF image-url('2-col-bgrd.gif') repeat-y;*/
}

#col-3-bgrd {
    @extend .col-main;
    background:#FFFFFF image-url('layout/3-col-bgrd.gif') repeat-y;
}

/* Module */
.sbar-module {
    margin:20px 0 10px 0;
}
