$max-width: 980px !default;

html {
    background-color: #5fa1c8;
}

body {
    -webkit-text-size-adjust: none;
    position:relative;
}

#main {
    background:#d1b11e image-url('page-bgrd.png') repeat-x;
}

#content {
    @include pie-clearfix; 
    max-width: $max-width;
    margin: 0px auto 0px auto;
    padding-bottom:25px;
}
