$text-color :#333333 !default;

$link-color: #757800;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

.sans { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif }
.serif { font-family: "PT Serif", Georgia, Times, "Times New Roman", serif; }
.mono {font-family:$mono};
em {font-style:italic;}
strong {font-weight:bold;}

body {
    color: $text-color;
    @extend .sans;
    font-size:75%;
    line-height:1em;
}

p {
    margin:0 0 1.5em;
    line-height:1.4em;
}

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  @include transition(color .3s);
  @include hover-link;
}

ul.nav-list {
    list-style-position:outside;
    list-style-type:none;
    li {
        margin:0 0 .5em 0;
        border-bottom:1px #d0d0d0 dotted;
        padding:0 0 .5em 0;
    }
}


h1 {
    font-size:2.5em;
    margin-bottom:0.8em;
    line-height:1em;
    border-bottom:1px dotted #333333;
}

h2 {
    font-size:2em;
    margin-bottom: 0.8em;
    line-height:1em;
}

h3 {
    font-size:1.5em;
    margin-bottom: 0.8em;
    font-weight:bold;
    line-height:1em;
}

h3.sub {
    border-bottom:1px dotted #d0d0d0;
    padding-bottom:3px;
}

ol.disc {
    list-style-type: disc;
    li {
        padding-bottom:.5em;
        line-height:1.2em;
        margin-left:1em;
    }
}

