{% extends "base.html" %}
{% block extra_head %}

{% endblock %}

{% block middle %}
    <h2>Check-In:</h2>
    <p>Report your progress to get points and gems.Upload health information here (or you can use your <a HREF=http://code.google.com/p/omhe>OMHE</a> enabled mobile application or medical device).</p>
    {% if user.is_authenticated %}
    <ul>
    <li><a HREF="/upload/ci/{{ user.username }}/">Check In With a comment.</a> Microblog what you eat, what you did, holla @ your peeps, etc. You can also use Twitter by using the #wvutweatwell hashtag.</li>
    <li><a HREF="/upload/wt/{{ user.username }}/">Weight</a></li>
    <li><a HREF="/upload/pbf/{{ user.username }}/">Percent Body Fat</a></li>
    <li><a HREF="/upload/ffm/{{ user.username }}/">Free Fat Mass</a></li>
    <li><a HREF="/upload/fm/{{ user.username }}/">Fat Mass</a></li>
    <li><a HREF="/upload/bp/{{ user.username }}/">Blood Pressure</a></li>
    <li><a HREF="/upload/st/{{ user.username }}/">Steps Per Day</a></li>
    </ul>
    {% endif %} 
    	
{% endblock %}