{% extends "base.html" %}
{% block extra_head %}

{% endblock %}

{% block middle %}

    <h2>Upload Percent Body Fat:</h2>
        {% if user.is_authenticated %}
        <form enctype="multipart/form-data" action="." method="POST">

        {% if error %}
          <p class="error">ERROR: {{error}}</p>
        {% endif %}
        
        
        {% if form.errors %}
          <p class="error">Please correct the errors below.</p>
        {% endif %}
    
        {{ form.as_p }}
        <input type="submit" value="Upload" />
        </form>
        {% endif %} 
    
{% endblock %}

