{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}roulette-active{% endblock %}

{% block extra_head %}

<script>
//    Module for handling passing points, replace with points from Django {points}
//    TODO: Add boolean for allowing to play (once per day rule) popualted from django
    define("TW", function() {
        var tw = {};
        tw.points = 20;

        return tw;
    });

    /** Load Roulette Wheel Bootstrap
     */
    require({
        baseUrl: '{{STATIC_URL}}js/'
    }, ['apps/ui-roulette/main']);
</script>

{% endblock %}

{% block middle %}

<div id="roulette">
    <div id="roulette-canvas">
        <img id="roulette-arrow" src="{{ STATIC_URL }}img/roulette/arrow.png" width="150" height="150" style="display:none;"/>
    </div>
</div>


<div id="roulette-points">
    <h1>Spin To Win</h1>{{ points }}
    <p><strong>Select the number of points you would like to wager, then click the wheel to win big!</strong></p>
    <p><em>You must have at least 10 points to play and can play once per day.</em></p>

    <div class="points-display">
        You have  <span id="total-points">20</span> points.
        <form>
            <label for="points-wagered">Points To Wager:&nbsp;</label>
            <select id="points-wagered">
{#                TODO: loop based on {point}#}
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
            </select>
        </form>


        <div class="msg" id="result">
            Result: <span class="txt"></span><br/><br>
            Winnings: <span class="winnings"></span><br/><br>
            Total Points: <span class="total"></span><br/><br/>
        </div>

{#        <div class="msg" id="minimum-points">#}
{#            You must have at least 10 points to play.#}
{#        </div>#}
{##}
{#        <div class="msg" id="once-per-day">#}
{#            You may only spin once per day.#}
{#        </div>#}

    </div>
</div>


<form action='/roulette/spin-results/' method='POST' class="roulette">
		{{ form.as_p }}
		<input type="submit" value="Assign Points" class="button" />
	   </form>

<form action='/roulette/joker-results/' method='POST' class="roulette">
		{{ form.as_p }}
		<input type="submit" value="Assign Joker" class="button" />
	   </form>



{% endblock %}


{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}

