{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}roulette-active{% endblock %}

{% block extra_head %}

    <script>
        /** Module for handling passing django data */
        define("TW", function() {
            var tw = {};
            tw.points = {{ points }};
            tw.canSpin = "{{ can_spin }}";
            tw.hasJoker = "{{user.get_profile.joker_badge}}";

            return tw;
        });

        /** Load Roulette Wheel Bootstrap */
        require({
            baseUrl: '{{STATIC_URL}}js/'
        }, ['apps/ui-roulette/main']);
    </script>

{% endblock %}

{% block middle %}

    <div id="roulette">
        <div id="roulette-canvas">
            <img id="roulette-arrow" src="{{ STATIC_URL }}img/roulette/spinner.png" width="58" height="350" style="display:none;"/>
        </div>
    </div>


    <div id="roulette-points">
        <h1>Spin To Win</h1>
        <p><strong>Select the number of points you would like to wager, then click the wheel to win big!</strong></p>
        <p><em>You must have at least 10 points to play and can play once per day.</em></p>

        <div class="points-display">

            {% if can_spin %}

            <div id="wager" class="{% if points < 10 %}hide{% endif %}">

                <form id="wager-form">
                    You have <span id="total-points">{{ points }}</span> points.
                    <br/><br/>
                    <label for="points-wagered">Points To Wager:&nbsp;</label>
                    <select id="points-wagered">
                        {% for value in wager_points_range %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </form>

                <div class="msg hide" id="result">
                    <strong>Result:</strong> <span class="txt"></span><br/><br>
                    <strong>Winnings:</strong> <span class="winnings"></span><br/><br>
                    <strong>Total Points:</strong> <span class="total"></span><br/><br/>
                </div>

            </div>

            <div class="msg {% if points >= 10 %}hide{% endif %}" id="minimum-points">
                You must have at least 10 points to play.
            </div>

            {% else %}

            <div class="msg" id="once-per-day">
                You may only spin once per day.
            </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

QUESTION POINTS: {{question_points}}

{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}

