{% extends "base.html" %}
{% block extra_head %}

{% endblock %}

{% block featureBox %}
    <h2>Health Scoring:</h2>
    <p>Your health score is number between 0-100 indicating your level of health based on
    a few key measurements.  100 is the highest and 0 is the lowest.
    </p>
    
    <p>
    Want to improve your health score?  It's pretty straight forward.  Here are some things
    simple things you can do to improve your score.</p>
    <ul>
    <li>Reach and maintain a health body mass index (BMI).</li>
    <li>Check-in all your activies and exercise.</li>
    <li>Check-in all your measurements such as blood pressure and weight.</li>
    <li>Adhere to the health improvement plan established by you and your doctor.</li>
    </ul>

    	
{% endblock %}