<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
        {% include "include/head.html" %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
</head>


<body>

{% include "include/wvu-banner.html" %}

<div id="main">
    <div id="content">

		<div id="header"><!-- header -->
			<div class="span-6 first"><!-- header left -->
		 		<a href="/"><img src="{{ STATIC_URL }}/img/tweatwell_logo.png" alt="Tweat well" class="logo"/></a>
			</div><!-- end of header left -->

			<div id="headermain"class="span-18 last"><!-- headermain -->
				<div id="nav" class="span-6 first last"><!-- nav -->
					<ul>
				   		<li><a href="/">Home</a></li>
				   		<li><a href="/rankings/">Rankings</a></li>
				   		<li><a href="/faq/">FAQs</a></li>
				   		<li><a href="/accounts/profile">Settings</a></li>
				   		<li><a href="/logout">Logout</a></li>
					</ul>
           		</div><!-- end of nav -->
			</div><!-- end of headermain -->
		</div><!-- end of header  -->

        <div id="leftmiddle">
        {% block leftmiddle %}
        {% endblock %}
        </div><!-- leftmiddle -->

        <div class="wrapper-inner">
			<div id="left" class="span-6 first last"><!-- left sidebar -->
				<div class="left-inner">
					{%  block left  %}
					{% endblock %}
				</div>
			</div><!-- end of left sidebar-->

			<div id="middle" class="span-12 first last" ><!-- middle -->
				<div class="middle-inner">
				{%  block middle  %}
				{% endblock %}
				</div>
	        </div><!-- end of middle -->

			<div id="right" class="span-6 last"><!-- right sidebar -->
				<div class="middle-inner">
				{%  block right  %}
				{% endblock %}
				</div>
			</div><!-- end of right sidebar -->
		</div><!-- end of wrapper-inner -->

    </div>
</div>

{% include "include/footer.html" %}

{% block footer_js %}
{% endblock %}
	
</body>
</html>