<!doctype html>
<html lang="en">
<head>
    {% block extra_ie %}
    {% endblock %}
    <title>
        {% block title %}Tweatwell - West Virginia University{% endblock %}
    </title>

    {% block head %}
        {% include "include/head.html" %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27971768-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>


<body class="{% block active_nav_tab %}{% endblock %}">

{% include "include/wvu-banner.html" %}

<div id="main">
    <div id="content">

        {% include "include/header.html" %}

        {% include "include/top-nav.html" %}

        {% block content %}
            {% block middle %}
            {% endblock %}
        {% endblock %}

    </div>
</div>

{% include "include/footer.html" %}

{% block footer_js %}
{% endblock %}
	
</body>
</html>