{% extends "base.html" %}

{% block left %}
<div class="questions">
<h2>FAQs</h2>
	<ol>
		<li><a href="#1">What are the program dates?</a></br></li>
		<li><a href="#2">What’s a “Freggie”?</a></br></li>
		<li><a href="#3">What is the purpose of tweatWELL?</a></br></li>
		<li><a href="#4">How does tweatWELL work?</a></br></li>
		<li><a href="#5">How do I get started?</a></br></li>
		<li><a href="#6">Is twitter the only way for me to post comments?</a></br></li>
		<li><a href="#7">How is Twitter helpful with tweatWELL?</a></br></li>
		<li><a href="#8">What is the purpose of the dashboard on the right side?</a></br></li>
		<li><a href="#9">How will I benefit from tweatWELL?</a></br></li>
		<li><a href="#10">How is a week defined in the tweatWELL program?</a></br></li>
		<li><a href="#11">How do I earn points?</a></br></li>
		<li><a href="#12">What are the incentives of the program?</a></br></li>
		<li><a href="#13">What are the buttons for and what do they mean?</a></br></li>
		<li><a href="#14">What do the judges do?</a></br></li>
		<li><a href="#15">What is SparkPeople and why do I need to register for it?</a></br></li>
		<li><a href="#16">How do I do a daily nutritional log on SparkPeople?</a></br></li>
	</ol>
</div>

{% endblock %}

{% block middle %}
    
<h1>FAQs</h1>

<div class="faqcontent">

	<h3>Q. What are the program dates?<a name="1"></a></h3>
	<p>A. February 7, 2011 - March 18, 2011 </p>
	
	<h3>Q. What’s a “Freggie”?</h3><a name="2"></a>
	<p>A “Freggie” is short for fruit and veggie. </p>
	
	
	<h3>Q. What is the purpose of tweatWELL?</h3><a name="3"></a>
	<p>A. TweatWELL is a unique point-based social network with the purpose of providing a fun way for WVU students to increase their intake of Freggies.  This program is designed specifically for students at WVU. The majority of WVU students do not consume the recommended levels of Freggies per day (5-9 servings). WELL WVU believes the more involved you are with this program, the more likely you will be to consume the recommended level of Freggies per day, thus reaping the many nutritional benefits they have to offer.</p>
	
	<h3>Q. How does tweatWELL work?</h3><a name="4"></a>
	<p>A. The social network is designed for you to earn points based on the amount of interactions you have program. Points are distributed for various interactions among the site, including posting the fruits and veggies you consume, making comments on the site, etc. (Please see “Points” for the distribution table). The healthier you eat and the more active you are on the site, the more points you get. It’s that simple!</p>
	
	<h3>Q. How do I get started?</h3><a name="5"></a>
	<p>A. The first thing you need to do is sign up for the program at http://www.tweatWELL.com. You will register with your MIX e-mail address in order to verify you are a WVU student and fill out the registration information. TweatWELL interacts with Twitter in a way where you can tweet your updates, and they will automatically be uploaded to the newsfeed at tweatWELL.com. Therefore, it is highly recommended to use your Twitter account or sign up for a Twitter account in order to interact with the website via tweets or texts more easily.</p>
	
	<h3>Q. Is twitter the only way for me to post comments?</h3><a name="6"></a>
	<p>A. No. You can make posts directly at tweatWELL.com much like you would using Facebook.  However, having a Twitter account will easily allow you to tweet your posts. Also, by having a Twitter account you can text your posts to “40404”. </p>
	
	<h3>Q. How is Twitter helpful with tweatWELL?</h3><a name="7"></a>
	<p>A. Twitter makes it very easy to post your comments and photos onto tweatWELL.com via your twitter account, a cell phone twitter application, or by texting to “40404”. You simply use the appropriate “hashtag” when you want to post to tweatwell.com, and it will automatically post your comment or picture to the tweatwell.com website. Anytime you tweet or text your post, simply use the hashtag “#wvu5” and your post will automatically be uploaded to tweatwell.com.</p>
	<p>The question is how does this work? Well, it’s the power of using the “hashtag”, defined as a pound symbol (#) followed by a keyword (e.g. #wvu5). So, when you precede your comment with the hashtag “#wvu5” in your tweet or when you text to “40404”, it will automatically show up on tweatWELL.com. For example, “#wvu5 I ate an orange and one serving of carrots with my lunch today!” or “I ate a banana for a snack and drank 2 bottles of water so far today! #wvu5.”</p>
	
	<h3>Q. What is the purpose of the dashboard on the right side?</h3><a name="8"></a>
	<p>A. The dashboard will display several features to help you keep on top of the competition, including:</p>
	<ul>
		<li>Status of current total points leader, MVP, Most Improved Player (MIP), President, Dean, and Professor and where YOU compare to the leaders (all explained below). </li>
		<li>A graph illustrating up to the second what Freggies are being consumed the most by our participants.</li>
	 </ul>
	
	<h3>Q. How will I benefit from tweatWELL?</h3><a name="9"></a>
	<p>A. Hopefully you will:</p>
		<ul>
	
			<li>Learn how easy it is to eat 5-9 servings of Freggies per day and make lasting changes in your Freggie consumption </li>
			<li>Feel the amazing difference in the amount of energy you have when you eat the optimal amount of Freggies every day.</li>
			<li>Develop a taste for Freggies that will last for the rest of your life. </li> 
			<li>Have fun playing with all the features of the tweatWELL program!</li>
			<li>Possibly win an I-pad and other cool prizes!</li>
		</ul>
	
	
	<h3>Q. How is a week defined in the tweatWELL program?</h3><a name="10"></a>
	<p>A. A new week begins every Monday starting at 12:00 AM. </p>
	
	<h3>Q. How do I earn points?</h3><a name="11"></a>
	<p>A. There are many ways to earn points in this program. Points are awarded primarily by being active on the site.</p>
	
	<h3>Q. What are the incentives of the program?</h3><a name="12"></a>
	
	<p><strong>Points:</strong> Points are used as a tool to personally motivate and encourage you to be active on the tweatWELL site and increase your consumption of freggies each day. Points are awarded for members to use for friendly competition. While point numbers are not the only way you can win the grand prize, it will certainly be considered when the winner is chosen! It is a good representation of how active our members are on the site and how much you are improving your fruit & veggie consumption.  </p>
	
	<p><strong>Professor:</strong> You can become the “Professor” of a specific fruit or veggie by consuming more of that particular item than anyone else in the tweatWELL program. This score is a running tally and will show the professor of specific Freggies each day.</p>
	
	<p>For example, the player who is currently consuming the most bananas during the week and posts it on tweatWELL will become the Professor of bananas. You will remain the Professor of bananas until another player surpasses your score. 
	</p>
	
	<p><strong>Dean:</strong> You can become the “Dean” of either fruits or veggies by consuming more than anyone else in the tweatWELL program. This score is a running tally and will show the Dean of fruits and the Dean of veggies each day.</p>
	
	<p>For example, the player who is currently consuming the most veggies and posts it on tweatWELL will become the Dean of the veggies. You will remain the Dean of the veggies until another player surpasses your score. </p>
	
	<p><strong>President:</strong> You can become President of all fruits & veggies (cleverly named “Freggies”) by consuming the most Freggies combined when compared to everyone else in the tweatWELL program. This score is a running tally and will show the President of the Freggies each day.</p>
	<p>For example, the player who is currently consuming the most Freggies during the week and posts it on tweatWELL will become President of the Freggies. You will stay the President of the Freggies until another player surpasses your score. </p>
	
	<p><strong>Winners:</strong> Although the majority of this program is just for fun competition, awards will be given throughout and at the end of the program. Here’s how:</p>
	
		<p>At the end of the program, players will be chosen by our judges to be placed into a raffle for a new I-pad! The judges will determine who gets placed into the raffle based on the following:</p>
		<ul>
			<li>Total points</li>
			<li>If you have been deemed MVP, MIP, President, Dean, or Professor</li>
			<li>Signs of significant improvement in Freggie consumption from beginning of tweatWELL program</li>
			<li>Program participation throughout duration of program</li>	
		</ul>
	
	<h3>Q. What are the buttons for and what do they mean?</h3><a name="13"></a>
	<p>A. The purpose of the buttons is to make your job of posting the foods you eat as easy as possible. Each button below has a specific value:</p>
	<div class="nobullet">
	<ul>
		<li><img src="/site_media/img/fruit_small.gif" alt="Fruit"  /> This banana represents all fruit. Click on this button whenever you eat a fruit. To be more specific, when you click on this button, a drop-down menu will open up with a list of many types of fruits. Locate the specific type of fruit you ate and click it. For example, if you ate an orange for lunch, click on the “banana” button and locate “orange” on the list. Easy two points!</li><br />
		<li><img src="/site_media/img/broccoli_small.gif" alt="Broccoli"  /> This broccoli represents all vegetables. Click on this button whenever you eat a vegetable. A drop-down menu will also open up with a list of many types of vegetables for you to choose. Locate the specific type of vegetable you ate and click it. For example, if you ate a carrot for dinner, click on the “broccoli” button and locate “carrot” on the list. Easy two points!</li><br />
		<li><img src="/site_media/img/water_small.gif" alt="Water"  /> Click on the water button every time you have finished drinking one bottle of water. If you drink three bottles of water throughout the day, click the “water” button three times! That’s fifteen points!</li><br />
		<li><img src="/site_media/img/pizza_small.gif" alt="Junk"  />Click the pizza button if you have eaten some form of junk food throughout the day. Whether it’s a pizza or burger for lunch or ice cream for dessert, this button will work for all junk food. If you want to be more specific about what you ate, post a comment about it! You can get five points for being truthful about your diet; but remember, your goal is to eat less junk food and more Freggies! That’s how you will win!<br />
		<strong>Warning:</strong> You receive (+) points for being honest about eating junk food or drinking alcohol up to THREE times per 24 hours. After the third post, you will receive (-) two points for each post.</li><br />
		<li><img src="/site_media/img/beer_small.gif" alt="Alcohol"  /> Click the beer button if you had any form of alcohol throughout the day. We are not encouraging the consumption of alcohol; however, you can receive points for being truthful. You might want to set an extra goal for yourself to gradually decrease your consumption of alcohol as the program progresses! Good luck!<br />
		<strong>Warning:</strong> You receive (+) points for being honest about eating junk food or drinking alcohol up to THREE times per 24 hours. After the third post, you will receive (-) two points for each post.</li><br />
		
		<li><img src="/site_media/img/president.png" alt="President"  /> The <strong>President button</strong> will be on your profile page. Normally it is grayed out, but if it is lit up, you are currently the President of the Freggies!</li><br />
		<li><img src="/site_media/img/dean.png" alt="Dean"  /> The <strong>Dean button</strong> will be on your profile page. Normally it is grayed out, but if it is lit up, you are currently the Dean of the veggies or the fruits!</li><br />
		<li><img src="/site_media/img/professor.png" alt="Professor"  /> The<strong> Professor button</strong> will be on your profile page. Normally it is grayed out, but if it is lit up, you are currently the Professor of a particular fruit or veggie!</li><br />
	
	</ul>
	</div>
	
	
	
	<h3>Q. What do the judges do?</h3><a name="14"></a>
	<p>The judges have several roles to play within tweatWELL. First of all, they are available to help and encourage you. They will actively answer questions you may have, respond to your posts, and have the final say in leadership positions like MVP, MIP, President, Dean, and Professor (Remember, there’s a subjective component beyond just racking up points). The judges will also make sure players aren’t entering offensive or profane comments as well as inappropriate pictures. They have authority to remove points for offenses and even remove players from tweatWELL at their discretion.</p>
	
	
	<h3>Q. What is SparkPeople and why do I need to register for it?</h3><a name="15"></a>
	
	<p>A. Easy! All you have to do is click on the following link and fill in the necessary information: http://www.sparkpeople.com/myspark/register.asp</p>
	
	<h3>Q. How do I do a daily nutritional log on SparkPeople?</h3><a name="16"></a>
	<p>A. Creating a daily log on SparkPeople is very simple. All you have to do is go to sparkpeople.com, scroll over the “MY TOOLS” tab, and click on “my Nutrition”. On this page, you can add up the food you’ve eaten as well as how much water you have consumed throughout the day. Click on the “Add a Food” button and a new page will open with a search bar for you type the name of the food you consumed. Pick the exact food you ate from the drop down list created, then say how much you ate and for what meal. Continue to add food until your entire day is complete (this does not take long).</p> 
	
	<p>Once you’ve finalized your day, you can print or save the report by clicking the “See Today’s Full Report” button and then clicking either “print” to get a hard copy or “Export Data to File” to save as an excel spreadsheet. </p>
	
	<p>Still unsure? Click this link to view a video tutorial on how to create a daily log!</p>
 
</div>




    
    
{% endblock %}
