{% extends "base.html" %}

{% block left %}

<h2>FAQs</h2>
<ol>
<li><a href="#1">What are the program dates?</a></br></li>
<li><a href="#2">What’s a “Freggie”?</a></br></li>
<li><a href="#3">What is the purpose of tweatWELL?</a></br></li>
<li><a href="#4">How does tweatWELL work?</a></br></li>
<li><a href="#5">How do I get started?</a></br></li>
<li><a href="#6">Is twitter the only way for me to post comments?</a></br></li>
<li><a href="#7">How is Twitter helpful with tweatWELL?</a></br></li>
<li><a href="#8">What is the purpose of the dashboard on the right side?</a></br></li>
<li><a href="#9">How will I benefit from tweatWELL?</a></br></li>
<li><a href="#10">How is a week defined in the tweatWELL program?</a></br></li>
<li><a href="#11">How do I earn points?</a></br></li>
<li><a href="#12">What are the buttons for and what do they mean?</a></br></li>
<li><a href="#13">What do the judges do?</a></br></li>
<li><a href="#14">What is SparkPeople and why do I need to register for it?</a></br></li>
<li><a href="#15">How do I do a daily nutritional log on SparkPeople?</a></br></li>
</ol>

{% endblock %}

{% block middle %}
    
<h2>Frequently Asked Questions</h2>

<h3>Q. What are the program dates?<a name="1"></a></h3>
<p>A. February 7, 2011 - March 18, 2011 </p>

<h3>Q. What’s a “Freggie”?</h3><a name="2"></a>
<p>A “Freggie” is short for fruit and veggie. </p>


<h3>Q. What is the purpose of tweatWELL?</h3><a name="3"></a>
<p>A. TweatWELL is a unique point-based social network with the purpose of providing a fun way for WVU students to increase their intake of Freggies.  This program is designed specifically for students at WVU. The majority of WVU students do not consume the recommended levels of Freggies per day (5-9 servings). WELL WVU believes the more involved you are with this program, the more likely you will be to consume the recommended level of Freggies per day, thus reaping the many nutritional benefits they have to offer.</p>

<h3>Q. How does tweatWELL work?</h3><a name="4"></a>
<p>A. The social network is designed for you to earn points based on the amount of interactions you have program. Points are distributed for various interactions among the site, including posting the fruits and veggies you consume, making comments on the site, etc. (Please see “Points” for the distribution table). The healthier you eat and the more active you are on the site, the more points you get. It’s that simple!</p>

<h3>Q. How do I get started?</h3><a name="5"></a>
<p>A. The first thing you need to do is sign up for the program at http://www.tweatWELL.com. You will register with your MIX e-mail address in order to verify you are a WVU student and fill out the registration information. TweatWELL interacts with Twitter in a way where you can tweet your updates, and they will automatically be uploaded to the newsfeed at tweatWELL.com. Therefore, it is highly recommended to use your Twitter account or sign up for a Twitter account in order to interact with the website via tweets or texts more easily.</p>

<h3>Q. Is twitter the only way for me to post comments??</h3><a name="6"></a>
<p>A. No. You can make posts directly at tweatWELL.com much like you would using Facebook.  However, having a Twitter account will easily allow you to tweet your posts. Also, by having a Twitter account you can text your posts to “40404”. </p>

<h3>Q. How is Twitter helpful with tweatWELL?</h3><a name="7"></a>
<p>A. Twitter makes it very easy to post your comments and photos onto tweatWELL.com via your twitter account, a cell phone twitter application, or by texting to “40404”. You simply use the appropriate “hashtag” when you want to post to tweatwell.com, and it will automatically post your comment or picture to the tweatwell.com website. Anytime you tweet or text your post, simply use the hashtag “#wvu5” and your post will automatically be uploaded to tweatwell.com.</p>

<h3>Q. What is the purpose of the dashboard on the right side?</h3><a name="8"></a>
<p>A. The dashboard will display several features to help you keep on top of the competition (this is the first place competition is mentioned and I just wonder if this should be mentioned sooner.  I know the program is not all about that, but you get people interested maybe the competition aspect could at least be mentioned at the beginning of this document), including:</p>
<ul>
	<li>Status of current total points leader, MVP, Most Improved Player (MIP), President, Dean, and Professor and where YOU compare to the leaders (all explained below). </li>
	<li>A graph illustrating up to the second what Freggies are being consumed the most by our participants.</li>
 </ul>

<h3>Q. How will I benefit from tweatWELL?</h3><a name="9"></a>
<p>A. Hopefully you will:</p>
	<ul>

		<li>Learn how easy it is to eat 5-9 servings of Freggies per day and make lasting changes in your Freggie consumption </li>
		<li>Feel the amazing difference in the amount of energy you have when you eat the optimal amount of Freggies every day.</li>
		<li>Develop a taste for Freggies that will last for the rest of your life. </li> 
		<li>Have fun playing with all the features of the tweatWELL program!</li>
		<li>Possibly win an I-pad and other cool prizes!</li>
	</ul>


<h3>Q. How is a week defined in the tweatWELL program?</h3><a name="10"></a>
<p>A. A new week begins every Monday starting at 12:00 AM. </p>

<h3>Q. How do I earn points?</h3><a name="11"></a>
<p>A. There are many ways to earn points in this program. Points are awarded primarily by being active on the site.</p>

<h3>Q. What are the incentives of the program?</h3><a name="12"></a>

<p>Points: Points are used as a tool to personally motivate and encourage you to be active on the tweatWELL site and increase your consumption of freggies each day. Points are awarded for members to use for friendly competition. While point numbers are not the only way you can win the grand prize, it will certainly be considered when the winner is chosen! It is a good representation of how active our members are on the site and how much you are improving your fruit & veggie consumption.  </p>

<p>Professor: You can become the “Professor” of a specific fruit or veggie by consuming more of that particular item than anyone else in the tweatWELL program. This score is a running tally and will show the professor of specific Freggies each day.</p>

<p>For example, the player who is currently consuming the most bananas during the week and posts it on tweatWELL will become the Professor of bananas. You will remain the Professor of bananas until another player surpasses your score. 
</p>


<h3>Q. What do the judges do?</h3><a name="13"></a>
<p>The judges have several roles to play within tweatWELL. First of all, they are available to help and encourage you. They will actively answer questions you may have, respond to your posts, and have the final say in leadership positions like MVP, MIP, President, Dean, and Professor (Remember, there’s a subjective component beyond just racking up points). The judges will also make sure players aren’t entering offensive or profane comments as well as inappropriate pictures. They have authority to remove points for offenses and even remove players from tweatWELL at their discretion.</p>


<h3>Q. What is SparkPeople and why do I need to register for it?</h3><a name="14"></a>

<p>A. Easy! All you have to do is click on the following link and fill in the necessary information: http://www.sparkpeople.com/myspark/register.asp</p>

<h3>Q. How do I do a daily nutritional log on SparkPeople?</h3><a name="15"></a>
<p>A. Creating a daily log on SparkPeople is very simple. All you have to do is go to sparkpeople.com, scroll over the “MY TOOLS” tab, and click on “my Nutrition”. On this page, you can add up the food you’ve eaten as well as how much water you have consumed throughout the day. Click on the “Add a Food” button and a new page will open with a search bar for you type the name of the food you consumed. Pick the exact food you ate from the drop down list created, then say how much you ate and for what meal. Continue to add food until your entire day is complete (this does not take long).</p> 

<p>Once you’ve finalized your day, you can print or save the report by clicking the “See Today’s Full Report” button and then clicking either “print” to get a hard copy or “Export Data to File” to save as an excel spreadsheet. </p>

<p>Still unsure? Click this link to view a video tutorial on how to create a daily log!</p>
 





    
    
{% endblock %}
