{% extends "base.html" %}

{% block left %}

<h2>FAQs</h2>
<ol>
<h4><li><a href="#1">What is the Physique7 Program?</a></br></li></h4>
<h4><li><a href="#2">What changes have been made?</a></br></li></h4>
<h4><li><a href="#3">Where did this software come from?</a></br></li></h4>
<h4><li><a href="#4">How much is it going to cost me?</a></br></li></h4>
<h4><li><a href="#5">Who qualifies for the program?</a></br></li></h4>
<h4><li><a href="#6">How do I sign up?</a></br></li></h4>
<h4><li><a href="#7">How do I prepare for my evaluation?</a></br></li></h4>
<h4><li><a href="#8">Who do I contact if I have questions?</a></br></li></h4>
<h4><li><a href="#9">What services will be offered this year?</a></br></li></h4>
<h4><li><a href="#10">What are the prizes?</a></br></li></h4>
<h4><li><a href="#11">What are the program dates?</a></br></li></h4>
<h4><li><a href="#12">Do I have to check-in?</a></br></li></h4>
<h4><li><a href="#13">How does the Physique7 website work?</a></br></li></h4>
<h4><li><a href="#14">When can I get my fitness evaluation?</a></br></li></h4>
<h4><li><a href="#15">How do I win a grand prize?</a></br></li></h4>
</ol>

{% endblock %}

{% block middle %}
    
<h2>Frequently Asked Questions</h2>

<h3>Q. What is the Physique7 Program?<a name="1"></a></h3>
<p>A. Physique7 is the new take on what was formerly known as Body for Break. This
revamped body transformation contest is determined to get you pumped up, leaned
out, and looking good while still encouraging healthy lifestyle choices. Give us
7 weeks of total dedication and we will give you a physique to be proud of. </p>

<h3>Q. What changes have been made?</h3><a name="2"></a>
<p>A. We will be looking at every component in your body transformation effort,
not just body fat. We are also using cool new software to manage the competition,
developed by a WVU alumni.
We will be taking into consideration your change in weight,
body fat, BMI, and lean-to-fat mass ratio. In addition, the number of times you
visit the SRC within the 7 weeks, how often you turn in your nutrition logs,
how many personal training and boot camp sessions you attend, and how many
check ins you have will all be taken into account in determining the winner. </p>


<h3>Q. Where did this software come from?</h3><a name="3"></a>
<p>Alan Viars, WVU alumn and President of Videntity Systems, Inc.(VSI), created
this application for WVU.  a new online component allowing participants to
track their progress based on their intended goal and receive points for
checking in. Physiqe7 is beta software and you comments and feedback to make the program better
are welcomed and appreciated.  Give us your feedback
at physique7@videntity.com or srcseven@mail.wvu.edu.</p>

<h3>Q. How much is it going to cost me?</h3><a name="4"></a>
<p>A. Nothing, other than determination and hard work! This year’s program is FREE.</p>

<h3>Q. Who qualifies for the program?</h3><a name="5"></a>
<p>A. Participants must be full-time WVU students to participate (that’s being
registered for 12 credits as an undergraduate and 9 credits as a graduate
student). The program is not open to SRC members or WVU staff .</p>

<h3>Q. How do I sign up?</h3><a name="6"></a>
<p>A. Registration will be on-line starting January 10 and ending January 20.
To sign up, go to: www.studentreccenter.wvu.edu/physique7 and click on the
Physique7 or logo to register.  You MUST register BEFORE you come for your
pre fitness evaluation and before you can sign you up for personal training.</p>

<h3>Q. How do I prepare for my evaluation?</h3><a name="7"></a>
<p>A. For accurate results, participants will be encouraged to come to the
assessment normally hydrated (i.e. didn’t work out before, didn’t drink
alcohol the night before, not overly bloated).</p>

<h3>Q. Who do I contact if I have questions?</h3><a name="8"></a>
<p>A. You can either e-mail your question to srcseven@mail.wvu.edu or Nancy
Oliverio at nancy.oliverio@mail.wvu.edu. </p>

<h3>Q. What services will be offered this year?</h3><a name="9"></a>
<p>A. All services being offered are on a first come, first served basis,
by appointment ONLY.</p>

<p>Personal Training sessions will be done by multi-client training.
This means you might be scheduled with up to 3 other participants on the same
day and time. Don’t worry, past exercise experience and goals will be
considered when putting together training groups. This type of training will
allow us to offer all participants personal training during the 7 week program
and give you a killer workout with one of our certified personal trainers.</p>

<p>Participants are responsible for signing themselves up for personal training.
This can be done by going to: www.studentreccenter.wvu.edu/physique7 the sign
up form is on the right side of the page. Once you turn in your form, you will
receive an e-mail stating the day and time of your first personal training
appointment.</p>

<p>Nutrition coaching appointments can be made by contacting:
Nancy Oliverio: nancy.oliverio@mail.wvu.edu or phone at (304) 293-5065. 
Your body transformation is 80% determined by what you eat! That being said,
participants have the option to send in a dietary intake form. This will allow
us to give your diet individualize recommendations. E-mail your Dietary Intake
Form as a Microsoft Word attachment to srcseven@mail.wvu.edu </p>

<p>An Intense Boot Camp workout will be held on Tuesdays and Thursdays at 6:40 PM
in Room B of the SRC and will be open to any program participant or SRC user.
This workout will consist of high intensity cardio intervals and total body
strength conditioning.</p>

<h3>Q. What are the prizes?</h3><a name="10"></a>
<p>A. Each week, a prize will be raffled off for all participants who’ve come in
to workout at the SRC at least three times during each week. All you need to
do is swipe your Student ID or scan your hand at the front desk of the SRC and
your name will be added to the list for the weekly drawing.
<br>
Grand Prizes:
Male: Extreme Getaway:
River Expeditions Whitewater Rafting trip for four including 2 nights stay in
a rustic cabin.
<br>
Female: Total Makover Package:
A personal shopper and spray tan at Lavish Boutique ($200 value); a facial and
make up application at BellaRosa skincare; a hair cut and color and a manicure
and pedicure at the Morgantown Beauty College.
MVP Award: 1 Day/1 Night Vacation Getaway for two at Canaan Valley Resort.
The MVP award will go to the participant who has put in the most effort
throughout the 7 weeks. We will be looking at overall involvement in the program. </p>

<h3>Q. What are the program dates?</h3><a name="11"></a>
<p>A. It is a 7 week program. Registration begins January 10 with the program
officially beginning January 24. The competition dates are January 24 – March 13.</p>

<h3>Q. Do I have to check-in?</h3><a name="12"></a>

<p>A. Yes, if you want to track your progress throughout the 7 weeks! Check-ins
can be done at the upstairs fitness desk at the SRC. All you need to do is step
on the Tanita scale. Once the computer registers your check in, sign-in with
your user name and password or pin number on the provided lap top. This will
allow you to track your progress based on the goal you set for yourself at the
beginning of the program. You must have at least 2 check-ins for the system
to start tracking your progress. We encourage you to check in as much as you
want. The more check- ins you have, the more points you will earn.
Check-ins will be factored into determining the winners of the program.</p>

You can also use Twitter to check-in. Things we would like to see tweeted
include your weight, what you did for your workout, what you ate (hopefully s
omething healthy!), get the drift? All you need to do is use #wvu7 after your
tweet and it will automatically link to the Physique7 website. Legit tweets
will be factored into determining the winners of the program.
In addition, every time you swipe your student ID at the front desk, your
attendance will be recorded. </p>

<h3>Q. How does the Physique7 website work?</h3><a name="13"></a>
<p>When you register for the program, you will have the option to be public or
anonymous. Making your profile public will allow other participants in the
program to view your user name, status updates, rankings, and your check-in information.
Making your profile anonymous will allow others to see your check-in
information and status updates, but NOT your user name. Everything will
appear under “anonymous” if you choose this option. Please note that you may
opt out of using the Physique7 website for check ins, however, you will need
to keep track of your progress on your own and turn in a spread sheet of your
progress at the end of the program. You MUST use the Physique7 program to
register for the program.</p>

<p>Even if you choose to be “anonymous” you and the coaches can still see your
information. </p>

<p>Your home page displays your current weight, fat mass (pounds of your total
weight that are not lean tissue), goal weight, and body fat percent. There are
a set of gauges that coordinate your current weight with your goal weight and
ideal weight as well as your Body Mass Index (BMI) reading. You will see 3
colors on these gauges, yellow = below ideal, green = ideal, read = above ideal.
You will also see your number of current check-ins and points. </p>

<p>The Coaches Poll is a panel of judges from the SRC that includes the fitness
manager, fitness graduate assistants, and certified personal trainers. It is
your job each week to impress the judges. They want to see involvement and
activity on your end. Items being taken into consideration for the Coaches
Poll include number of check ins, change in body fat and weight, and how many
times you came to the SRC each week. Based on these items, the judges will
rank the top 10 male and top 10 female participants. In addition, judges will
be commenting on status up dates and check ins. Top 10 ranking does not
guarantee a grand prize or VIP winner.</p>

<p>The Stats tab breaks down your weight, fat mass, and body fat percentage. You
can see where you currently are, where you were, and view your weight and
fat mass history on graphs.</p>

<p>The Rankings tab allows you to see where you are amongst other participants.
You have the Coaches Poll (explained above), your ranking by points (number
of check ins), and your ranking of body fat percent change. </p>

<p>We encourage you to play around the with site, offer feedback, and ask questions.</p>

<h3>Q. When can I get my fitness evaluation?</h3><a name="14"></a>

<p>A. You MUST register for the program BEFORE you get your pre fitness
evaluation! A pre-fitness evaluation that includes body fat percentage, weight,
and BMI is required of all participants. Evaluations can be done January 10-20,
at the upstairs fitness desk during SRC operation hours. We encourage
participants to have their evaluation taken ASAP. The sooner you get your
reading taken the better your chances are for reducing your body fat,
weight, and BMI within the 7 week program.</p>

<h3>Q. How do I win a grand prize?</h3><a name="15"></a>
<p>In addition, participants who want to be considered for the Grand Prize are
required to send a before and after photo. These photos should be sent in at
the end of the program, during the week of March 14-20. Before and after photos
will only be viewed internally and used for determining the male and female
grand prize winners. We want to see your transformation, so be sure you send us
full length photos of yourself, preferably in form fitting workout clothes or
your swim suit. Photos should be e-mailed to srcseven@mail.wvu.edu.
Post-readings at the conclusion of the program will be done the week of
March 11-18.</p>




    
    
{% endblock %}
