{% extends "base.html" %}
{% block extra_head %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	    <script type="text/javascript">
		
		$(function() {
		
		$('.veggieform').change(function() {
		var s = "vegetable=" + $('.veggieform option:selected').text();
		$('#texti').val(s);
		});
		
		$('.fruitform').change(function() {
		var s = "fruit=" + $('.fruitform option:selected').text();
		$('#texti').val(s);
		});
                
		$('#beer').click(function() {
		$('#texti').val("alcohol=");
		});
		
		$('#junk').click(function() {
		$('#texti').val("junk=");
		});
		
		$('#water').click(function() {
		$('#texti').val("water=");
		});
		
		$('#veggie').click(function() {
		$('#texti').val("vegetable=");
		});
		
		$('#fruit').click(function() {
		  $('#texti').val("fruit=");
		});
		
		$('#question').click(function() {
		$('#texti').val("answer=");
		});
		
		});          
                
		</script>
		
		<!-- CHRISG: Added as of 01/07/11 -->
      <style>
        .commentform { display:none; }
		  </style>
      <style>
        .errormessage { display:none; }
      </style>
      <style>
        .fruitform { display:none; }
		  </style>
      <style>
      	.veggieform { display:none; }
      </style>
			<script>
		    $(document).ready(function(){
		    	$('.comment-container a').click(function() { 
		    	$('.commentform',$(this).parent()).fadeIn(600);
		    	return false;
				})
				
				$('#veggie').click(function() {
  				$('.veggieform').toggle('slow', function() {
				  });
				});
				
				$('#fruit').click(function() {
  				$('.fruitform').toggle('slow', function() {				   
				  });
				});								
		    });
	    </script>
    <!-- END CHRISG -->  
        
	{% endblock %}
    
    {% block left %}    
        <div id="checkin">
	        <h2>Check In</h2>
				<div id="veggie" class="foodicon">
				<img src="{{ STATIC_URL }}img/broccoli_small.gif" alt="Broccoli" border="0" />
						
				</div><!-- veggie -->
				<div id="fruit" class="foodicon">
					<img src="{{ STATIC_URL }}img/fruit_small.gif" alt="Fruit" border="0" />
				</div><!-- fruit -->
				<div id="water" class="foodicon last">
					<img src="{{ STATIC_URL }}img/water_small.gif" alt="Water" border="0" />
				</div><!-- water -->			  
				<div id="beer" class="foodicon"> 
				   <img src="{{ STATIC_URL }}img/beer_small.gif" alt="Alcohol" border="0" />
				</div><!-- beer -->			    
				<div id="junk" class="foodicon"> 
				   <img src="{{ STATIC_URL }}img/pizza_small.gif" alt="Junk" border="0" />
				</div><!-- junk -->
				<div id="question" class="foodicon"> 
				   <img src="{{ STATIC_URL }}img/question_small.gif" alt="Question" border="0" />
				</div><!-- question -->
				
				<div id="veggieform" class="veggieform"> 
					{{ veggieform.as_p }}
				</div><!-- veggieform -->
				<div id="fruitform" class="fruitform"> 
					{{ fruitform.as_p }}
				</div><!-- fruitform -->
				
				
				
				<h2>Question of the Week</h2> 
				
	    		<h5 class="bottom">{{qt.question}} </h5> 
	    		<p class="small">Click on the question icon above to post answer</p>  
	    		
				

				
				
      	</div><!-- checkin -->
		<a href="http://twitter.com/#!/wellwvu" target="_blank"><img src="{{ STATIC_URL }}img/twitter.png" alt="Twitter logo" border="0" /></a>
		<a href="http://well.wvu.edu" target="_blank"><img src="{{ STATIC_URL }}img/wellwvu-logo.gif" alt="Well WVU logo" border="0" /></a>
       
	    
	{% endblock %} <!-- end left -->
	
	{% block middle %}  
  	<div class="error-container"><!-- error container -->		
    	<div class="errormessage">
			<p class="error">Oops! I didn't understand that.</p>
     	</div>
  	</div><!-- end error container -->	

    <div id="public_feed">  <!-- public feed -->	  
		<div  class="tweatwellform">
			<h2 class="what">What are you eating?</h2>
			<form id="submittweat" action="/upload/omhe/{{user}}/" method="POST">
				<input type="text" class="texti" id="texti" name="texti" >
      			<input type="submit" value="Update"  />
	      	</form>
    	</div>
		<h4 class="newtweats">New Tweats:</h4>
    	<div id="scroller">
    		<ul id="scrollerul">
      			{% for i in publicfeed %}
        		{% if i.showme %}
	    		<div name="topscroll" id="topscroll"></div>
   				<li>
   					<span class="avatar_icon">
	   					{% load avatar_tags %}
						{% if i.username %}
						  {% avatar i.username 45 %}
						{% endif %}
					</span>
		    		<span class="status">{{i.display_status}} by <i>{{i.display_name}}</i> </span> <br/>
		    		<span class="tweated"> {{ i.ev_dt|timesince }} ago </span>
	    		</li>
	    
	   			 <div class="comment-container"><!-- comment-container -->	
					<a href="#">Add Comment</a>
					<div class="commentform">
						<form action="/upload/comment/{{user}}/" method="POST">
							<textarea name="ci"></textarea>
							<input name="idr" type="hidden" value="{{i.id}}" />
							<input type="submit" id="submitcomment" value="Submit Comment" />
						</form>
					</div>
				 

				      <ul class="commentscroller">
					{% for j in commentslist %}
					  {% if j.idr == i.id %}		    
				            <li>
				            <span class="avatar_icon">
				              {% if j.username %}
				                {% avatar j.username 35 %}
				              {% endif %}
				              </span>
				              
				              {{j.display_status}} {{i.display_name}}  {{ i.ev_dt|timesince:i.ev_dt }} ago 
				              
				            </li>
					    {% endif %}     
					{% endfor %} 
				      </ul>
      				</div><!-- end comment-container -->	
    
					  </li>
						{% endif %}
				      	{% endfor %} 
				    </ul>		   		
		  </div><!-- end scroller -->
        
 	 </div><!-- public_feed -->

	{% endblock %} <! -- end of middle -->

	{% block right %}
	
     
     <div id="badges"><!-- badges -->
		 <h4>Badges</h4>
			<div class="small">
			{% for a in awards %}  
			  {% if a.award_class = "Dean" %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/DEAN.png" alt="Dean" border="0" /><br />
			    {{a.freggie}}
			    </span>
			  {% endif %}
			  
			  {% if a.award_class = "President" %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/PRESIDENT.png" alt="President" border="0" /><br />
			    {{a.freggie}}
			    </span>
			  {% endif %}
			  
			  {% if a.award_class = "Professor" %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/PROFESSOR.png" alt="Professor" border="0" /><br />
			    {{a.freggie}}
			    </span>
			  {% endif %}
			  
			  {% if a.award_class = "Event" %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/event.png" alt="Event" border="0" /><br />
			    {{a.freggie}}
			    </span>
			  {% endif %}
			
			  {% if a.award_class = "Sparkpeople" %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/sparkpeople.png" alt="SparkPeople" border="0" /><br />
			    {{a.freggie}}
			    </span>
			  {% endif %}			
			{% endfor %}
			  	
			 
			  {% if not DeanAward %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/DEAN1.png" alt="Dean" border="0" /></span>	
			  {% endif %}
	  
			 {% if not ProfessorAward %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/PROFESSOR1.png" alt="Professor" border="0" /></span>
			  {% endif %}
			  
			  {% if not PresidentAward %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/PRESIDENT1.png" alt="President" border="0" /></span>
			  {% endif %}
			  
			  {% if not EventAward %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/event1.png" alt="Event" border="0" /></span>
			  {% endif %}
			  
			  {% if not SparkpeopleAward %}
			    <span class="badge"><img src="{{ STATIC_URL }}img/sparkpeople1.png" alt="Spark People" border="0" /></span>
			  {% endif %}
		  </div>

		  
		</div><!-- end badges -->
    
    		
		    {% load avatar_tags %}
		    <div id="profile"><!-- profile -->
			    <div id="avatar"><!-- avatar -->
			    	<a href="/avatar/change" style="border-style: none;">{% avatar user %}</a>
			    </div>	<!-- end avatar -->	    
			    	<h3>{{ user.first_name }}</h3>
			    
			    		    
			    <div id="status">
			    	<p><i id="statustext">{{all.status}}</i></p>
			    </div>
			    
			    <div id="userpoints">
	  				<ul>
					  <li>FRUITS: {{all.fruit}}</li>
					  <li>VEGETABLES: {{all.vegatble}}</li>
					  <li>WATER: {{all.water}}</li>
					  <li>JUNK: {{all.junk}}</li>
					  <li class="points"><strong>POINTS: {{all.points}} </strong></li>
				  	</ul>
				  	<img src="{{ STATIC_URL }}img/freggie.png" alt="Freggie" border="0" class="freggie"/>
				  				  
				 </div>
			</div> <!-- end of profile -->

    		<div id="judges"><!-- judges -->
    			<h4>Judges</h4>
		        <img src="{{ STATIC_URL }}img/judge_kiwi.gif" alt="Kiwi" />
		        <img src="{{ STATIC_URL }}img/judge_pepper.gif" alt="Pepper" />
				<img src="{{ STATIC_URL }}img/judge_apple.gif" alt="Apple" />
				<img src="{{ STATIC_URL }}img/judge_daikon.gif" alt="Daikon" />
				<img src="{{ STATIC_URL }}img/judge_gala.gif" alt="Gala" />
				<img src="{{ STATIC_URL }}img/judge_cherry.gif" alt="Cherry" />				
			</div><!-- end judges -->
			
			 <h2>Tip of the Day</h2>
	    	<p>{{qt.tip}}</p>
	{% endblock %} <! -- end of right-->
