{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}home-active{% endblock %}

{% block extra_head %}
	    <script type="text/javascript">
		
		$(function() {
		
		$('.veggieform').change(function() {
		var s = "vegetable=" + $('.veggieform option:selected').text();
		$('#texti').val(s);
		});
		
		$('.fruitform').change(function() {
		var s = "fruit=" + $('.fruitform option:selected').text();
		$('#texti').val(s);
		});
                
		$('#beer').click(function() {
		$('#texti').val("alcohol=");
		});
		
		$('#junk').click(function() {
		$('#texti').val("junk=");
		});
		
		$('#water').click(function() {
		$('#texti').val("water=");
		});
		
		$('#veggie').click(function() {
		$('#texti').val("vegetable=");
		});
		
		$('#fruit').click(function() {
		  $('#texti').val("fruit=");
		});
		
		$('#question').click(function() {
		$('#texti').val("answer=");
		});
		
		});          
                
		</script>
		
		<!-- CHRISG: Added as of 01/07/11 -->
      <style>
        .commentform { display:none; }
		  </style>
      <style>
        .errormessage { display:none; }
      </style>
      <style>
        .fruitform { display:none; }
		  </style>
      <style>
      	.veggieform { display:none; }
      </style>
			<script>
		    $(document).ready(function(){
		    	$('.comment-container a').click(function() { 
		    	$('.commentform',$(this).parent()).fadeIn(600);
		    	return false;
				})
				
				$('#veggie').click(function() {
  				$('.veggieform').toggle('slow', function() {
				  });
				});
				
				$('#fruit').click(function() {
  				$('.fruitform').toggle('slow', function() {				   
				  });
				});								
		    });
	    </script>
    <!-- END CHRISG -->  
        
	{% endblock %}

	
	{% block middle %}


        <div id="checkin">
	        <h2>Check In</h2>

                <div id="veggie" class="icon icon-broccoli_small"></div>
                <div id="fruit" class="icon icon-fruit_small"></div>
                <div id="water" class="icon icon-water_small"></div>
                <div id="beer" class="icon icon-beer_small"></div>
                <div id="junk" class="icon icon-pizza_small"></div>
                <div id="question" class="icon icon-question_small"></div>

				<div id="veggieform" class="veggieform">
					{{ veggieform.as_p }}
				</div><!-- veggieform -->
				<div id="fruitform" class="fruitform">
					{{ fruitform.as_p }}
				</div><!-- fruitform -->



				<h2>Question of the Week</h2>

	    		<h5 class="bottom">{{qt.question}} </h5>
	    		<p class="small">Click on the question icon above to post answer</p>





      	</div><!-- checkin -->
        
  	<div class="error-container"><!-- error container -->		
    	<div class="errormessage">
			<p class="error">Oops! I didn't understand that.</p>
     	</div>
  	</div><!-- end error container -->	

    <div id="public_feed">  <!-- public feed -->	  
		<div  class="tweatwellform">
			<h2 class="what">What are you eating?</h2>
			<form id="submittweat" action="/upload/omhe/{{user}}/" method="POST">
				<input type="text" class="texti" id="texti" name="texti" >
      			<input type="submit" value="Update"  />
	      	</form>
    	</div>
		<h4 class="newtweats">New Tweats:</h4>
    	<div id="scroller">
    		<ul id="scrollerul">
      			{% for i in publicfeed %}
        		{% if i.showme %}
	    		<div name="topscroll" id="topscroll"></div>
   				<li>
   					<span class="avatar_icon">
	   					{% load avatar_tags %}
						{% if i.username %}
						  {% avatar i.username 45 %}
						{% endif %}
					</span>
		    		<span class="status">{{i.display_status}} by <i>{{i.display_name}}</i> </span> <br/>
		    		<span class="tweated"> {{ i.ev_dt|timesince }} ago </span>
	    		</li>
	    
	   			 <div class="comment-container"><!-- comment-container -->	
					<a href="#">Add Comment</a>
					<div class="commentform">
						<form action="/upload/comment/{{user}}/" method="POST">
							<textarea name="ci"></textarea>
							<input name="idr" type="hidden" value="{{i.id}}" />
							<input type="submit" id="submitcomment" value="Submit Comment" />
						</form>
					</div>
				 

				      <ul class="commentscroller">
					{% for j in commentslist %}
					  {% if j.idr == i.id %}		    
				            <li>
				            <span class="avatar_icon">
				              {% if j.username %}
				                {% avatar j.username 35 %}
				              {% endif %}
				              </span>
				              
				              {{j.display_status}} {{i.display_name}}  {{ i.ev_dt|timesince:i.ev_dt }} ago 
				              
				            </li>
					    {% endif %}     
					{% endfor %} 
				      </ul>
      				</div><!-- end comment-container -->	
    
					  </li>
						{% endif %}
				      	{% endfor %} 
				    </ul>		   		
		  </div><!-- end scroller -->
        
 	 </div><!-- public_feed -->

	{% endblock %} <! -- end of middle -->

	{% block right %}
	
     
     <div id="badges"><!-- badges -->
		 <h4>Badges</h4>

        <div class="icon-badge icon-dean-{{ DeanAward|yesno:"on,off" }}" title="Dean"></div>
        <div class="icon-badge icon-professor-{{ ProfessorAward|yesno:"on,off" }}" title="Professor"></div>
        <div class="icon-badge icon-president-{{ PresidentAward|yesno:"on,off" }}" title="President"></div>
        <div class="icon-badge icon-event-{{ EventAward|yesno:"on,off" }}" title="Event"></div>
        <div class="icon-badge icon-sparkpeople-{{ SparkpeopleAward|yesno:"on,off" }}" title="SparkPeople"></div>

		  
		</div><!-- end badges -->
    
    		
		    {% load avatar_tags %}
		    <div id="profile"><!-- profile -->
			    <div id="avatar"><!-- avatar -->
			    	<a href="/avatar/change" style="border-style: none;">{% avatar user %}</a>
			    </div>	<!-- end avatar -->	    
			    	<h3>{{ user.first_name }}</h3>
			    
			    		    
			    <div id="status">
			    	<p><i id="statustext">{{all.status}}</i></p>
			    </div>
			    
			    <div id="userpoints">
	  				<ul>
					  <li>FRUITS: {{all.fruit}}</li>
					  <li>VEGETABLES: {{all.vegatble}}</li>
					  <li>WATER: {{all.water}}</li>
					  <li>JUNK: {{all.junk}}</li>
					  <li class="points"><strong>POINTS: {{all.points}} </strong></li>
				  	</ul>
				  	<img src="{{ STATIC_URL }}img/freggie.png" alt="Freggie" border="0" class="freggie"/>
				  				  
				 </div>
			</div> <!-- end of profile -->

    		<div id="judges"><!-- judges -->
    			<h4>Judges</h4>

                <div class="icon icon-judge_kiwi" title="Kiwi"></div>
                <div class="icon icon-judge_pepper" title="Pepper"></div>
                <div class="icon icon-judge_apple" title="Apple"></div>
                <div class="icon icon-judge_daikon" title="Daikon"></div>
                <div class="icon icon-judge_gala" title="Gala"></div>
                <div class="icon icon-judge_cherry" title="Cherry"></div>


			</div><!-- end judges -->
			
			 <h2>Tip of the Day</h2>
	    	<p>{{qt.tip}}</p>
        		<a href="http://twitter.com/#!/wellwvu" target="_blank"><img src="{{ STATIC_URL }}img/twitter.png" alt="Twitter logo" border="0" /></a>
		<a href="http://well.wvu.edu" target="_blank"><img src="{{ STATIC_URL }}img/wellwvu-logo.gif" alt="Well WVU logo" border="0" /></a>
	{% endblock %} <! -- end of right-->
