{% extends "base.html" %}
{% block extra_head %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	    <script type="text/javascript">
		
		
	    $(document).ready(function () {
	      $('.cii').focus(function() {
		$(this).val("");
	      });
	      

	      
	    });

		$(function() {
                
		$('#beer').click(function() {
		$('#texti').val("alcohol=1 #I drank 1 ");
		});
		
		$('#junk').click(function() {
		$('#texti').val("junk=1 #I ate ");
		});
		
		$('#water').click(function() {
		$('#texti').val("water=1 #I drank water ");
		});
		
		$('#veggie').click(function() {
		$('#texti').val("vegetable=1 #I ate ");
		});
		
		$('#fruit').click(function() {
		  $('#texti').val("fruit=1 #I ate ");
		});
		
		
		$('#submittweatwelltextarea').click(function() {
		  var texti = $('#texti').val();
		  console.log(texti);
		  $.ajax({
			  url: '/ajaxupload/omhe/{{user.username}}/',
				      type: 'POST',
				      data: {'texti': texti},
				      error: function(result) {
					      console.log("error");
					      $('#loadingci').fadeOut(500, function() {
						      $(this).remove();
						      });
					      $('.errormessage').fadeIn(600);
					      return false;
					      },
				      success: function(result) {
					      $('.errormessage').fadeOut(200);
					      $('#loadingci').fadeOut(500, function() {
						      $(this).remove();
						      });
					      var newupdate='{% load avatar_tags %}<li>{% avatar user 45 %}' + texti + ' {{ user.username }} - just now</i></li>';
					      $('#texti').val("");
						  
					      //$('#scroller').prepend(newupdate);
					      $('#topscroll').hide();
					      $('#topscroll').prepend(newupdate).slideDown(700);

					}
				});
				return false;
		  
		  
                });
		
		
		$('#submitci').click(function() {
			$('#checkin').append('<img src="/site_media/img/loading.gif" alt="...Uploading" id="loadingci" />');
			$('#statustext').remove();
				var ci = $('#cii').val();
				$.ajax({
					url: '/ajaxupload/ci/{{user.username}}/',
					type: 'POST',
					data: 'ci=' + ci,
					error: function(result) {
						$('#cii').val("");
						$('#loadingci').fadeOut(500, function() {
							$(this).remove();
							});
						},
					success: function(result) {
						
			    			$('#loadingci').fadeOut(500, function() {
							$(this).remove();
							});
						var newupdate='{% load avatar_tags %}<li>{% avatar user 45 %} {{ user.username }} says:' + ci + '-  just now</i><form enctype=\"multipart/form-data\" action=\"/upload/comment/{{user.username}}\" method=\"POST\"><label for=\"id_ci\">Comment:</label> <input type=\"text\" name=\"ci\" id=\"id_ci\"><input id=\"id_idr\" name=\"idr\" type=\"hidden\" value=\"{{i.id}}\" ><input type=\"submit\" value=\"Comment\" ></form></li>';
						$('#cii').val("");
						    
						
						$('#statustext').remove();
						$('#status').append('<i id="statustext">' + ci + '</i>');
						
						
						//$('#scroller').prepend(newupdate);
						$('#topscroll').hide();
						$('#topscroll').prepend(newupdate).slideDown(700);

					}
				});
				
				return false;
			});
                });
                  
                
  
		</script>
		
		<!-- CHRISG: Added as of 01/07/11 -->
      <style>
        .commentform { display:none; }
		  </style>
      <style>
        .errormessage { display:none; }
      </style>
			<script>
		    $(document).ready(function(){
		    	$('.comment-container a').click(function() { 
		    			$('.commentform',$(this).parent()).fadeIn(600);
		    			return false;
				  })
		    });
	    </script>
    <!-- END CHRISG -->    
{% endblock %}
    
    {% block left %}    
    {% load avatar_tags %}
    <div id="avatar">
    <a href="http://en.gravatar.com/" style="border-style: none;">{% avatar user %}</a>
    </div><!-- avatar -->
    
    <h3>{{ user.first_name }}</h3><br />
    <div id="status"><p><i id="statustext">{{all.status}}</i></p></div>
    
  <br></br>
  <br></br>
  Fruits: {{all.fruit}}</br>
  Vegetables: {{all.vegatble}}</br>
  Carbohydrates: {{all.carb}}</br>
  Dairy: {{all.dairy}}</br>
  Protiens: {{all.protien}}</br>
  Alcohol: {{all.alcohol}}</br>
  Water: {{all.water}}</br>
  Other Drinks: {{all.drinks}}</br>
  Junk: {{all.junk}}</br>
  Points: {{all.points}}</br>  
    <div id="checkin">
  <br></br>
  <br></br> 
<div id="veggie">
<img src="/site_media/img/broccoli_small.gif" alt="Broccoli" border="0" />
</div><!-- veggie -->


<div id="fruit">
<img src="/site_media/img/fruit_small.gif" alt="Fruit" border="0" />
</div><!-- fruit -->


<div id="water">
<img src="/site_media/img/water_small.gif" alt="Water" border="0" />
</div><!-- water -->
  
<div id="beer"> 
   <img src="/site_media/img/beer_small.gif" alt="Alcohol" border="0" />
</div><!-- beer -->
    
<div id="junk"> 
   <img src="/site_media/img/pizza_small.gif" alt="Junk" border="0" />
</div><!-- junk -->
      </div><!-- checkin -->

    
    
    
{% endblock %} <!-- end left -->

{% block middle %}
  
  <div class="error-container">		
      <div class="errormessage">
	<p class="error">Oops! I didn't understand that.</p>
      </div>
  </div>
  
  
  <h3>Badges:</h3>
  {% if user.get_profile.badge1 %}
    badge1
  {% else %}
  no badge1
  {% endif %}
  
  {% if user.get_profile.badge2 %}
    badge2
  {% else %}
  no badge2
  {% endif %}
  
    {% if user.get_profile.badge3 %}
    badge3
  {% else %}
  no badge3
  {% endif %}
  
    {% if user.get_profile.badge4 %}
    badge4
  {% else %}
  no badge4
  {% endif %}
  
    {% if user.get_profile.badge5 %}
    badge5
  {% else %}
  no badge5
  {% endif %}
    <br>
    
     <h3>Awards:</h3>
     {{ user.get_profile.veggie }}
     {{ user.get_profile.fruit }}
     {{ user.get_profile.water }}
    
    <div id="public_feed">
    
<div class="tweatwellform">
      <form action="/ajaxupload/omhe/{{user}}/" method="POST">
	<textarea type="text" class="texti" id="texti" name="texti" style="font-size:10px; width:300px; height:75px; border:1px solid #58A0C8;"></textarea>	
	    <br />
      <input type="submit" value="Post" id="submittweatwelltextarea" />
	      </form>
    </div>

<h3>Public Feed:</h3>
    <div id="scroller">
    <ul id="scrollerul">
      {% for i in publicfeed %}
        {% if i.showme %}
	    <div name="topscroll" id="topscroll"></div>
    
	    <li> {% if i.username %}
		{% avatar i.username 45 %}
		{% endif %}
	    {{i.display_status}} {{i.display_name}} {{ i.ev_dt|date:"h:ia D d M Y" }} </i>
	    <div class="comment-container">
		    <a href="#">Add Comment</a>
		
				<div class="commentform">
					<form action="/upload/comment/{{user}}/" method="POST">
					    <textarea name="ci" style="font-size:10px; width:300px; height:75px; border:1px solid #58A0C8;"></textarea>
						  <input name="idr" type="hidden" value="{{i.id}}" />
						  <br />
						  <input type="submit" value="Submit Comment" />
					</form>
				</div>

	      <ul class="commentscroller">
			    {% for j in commentslist %}
						{% if j.idr == i.id %}		    
	            <li>
	              {% if j.username %}
	                {% avatar j.username 35 %}
	              {% endif %}
	              
	              {{j.display_status}} {{i.display_name}} <span>({{ i.ev_dt|date:"h:ia m/d/y" }})</span>
	              
	            </li>
						{% endif %}     
			    {% endfor %} 
	      </ul>
      </div>
    
	  </li>
	{% endif %}
      {% endfor %} 
    </ul>
    

  </div><!-- scroller -->
        
  </div><!-- public_feed -->

{% endblock %} <! -- end of middle -->


{% block right %}
<div id="rank">
    <h3>Rankings:</h3>
    
    <ul>
    
    {% if all.gender = "male" %}
    <li>
        {% if all.coachespoll %}
        <h4><a HREF='/rankings/coaches/'>{{all.coachespoll}}</a></h4>
                    {% else %}
                    <h4><a HREF='/rankings/coaches/'>U</a></h4>
                    {% endif %}
		    <p>Coaches Poll</p>
	</li>
    

    {% endif %}
    

    <!--Points are not gender specific-->
    <li>
    <h4>{% if all.pointspoll %}
            <a HREF='/rankings/points/'>{{all.pointspoll}}</a></h4>
                    {% else %}
                    <h4><a HREF='/rankings/points/'>U</a></h4>
                    {% endif %}
		    <p>Points</p>

    </li>
    </ul>
    </div><!-- rank -->
    <h3>Coaches:</h3>
            	<img src="/site_media/img/AppleAnnie.png" alt="AppleAnnie.png" />
        	<img src="/site_media/img/BroccoliBob.png" alt="BroccoliBob.png" />
		<img src="/site_media/img/DaikonDaisy.png" alt="DaikonDaisy.png" />
		<img src="/site_media/img/KiwiKim.png" alt="KiwiKim.png" />
		<img src="/site_media/img/PepperPete.png" alt="PepperPete.png" />
		<img src="/site_media/img/WatermelonWendy.png" alt="WatermelonWendy.png" />
{% endblock %} <! -- end of right-->
