{% extends "layouts/1-column.html" %}

{% block middle %}
<h1>Settings: Change Photo</h1>

<h2>Uploaded Photos</h2>

{% if not avatars %}
    <p>No photo uploaded</p>
{% else %}

    <form method="POST" action="{% url avatar_change %}" class="tw-form tw-settings-form">
        {{ primary_avatar_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Choose new Default" class="button" />
        &nbsp;&nbsp;<a href="/avatar/delete">Delete Photos</a>
    </form>

{% endif %}

<br/><br/>
<h2>Add New Photo</h2>

<form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}" class="tw-form tw-settings-form">
    {{ upload_avatar_form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Upload New Image" class="button"/>
</form>

{% endblock %}





