{% extends "layouts/2-column-sidebar-right.html" %}
{% block active_nav_tab  %}recipes-active{% endblock %}

{% block extra_head %}
    <script src="{{STATIC_URL}}js/lib/page/comment.js"></script>
{% endblock %}

{% block middle %}
{% load avatar_tags %}

<h1>Recipes</h1>

{% for r in recipelist %}


<div class="recipe-instance">
    <div class="recipe-content">

        <h2>{{ r.recipe.name }}</h2>

        {% autoescape off %}
        {% if r.recipe.ingredients %}
        <h3>Ingredients</h3>
        <div class="recipe-ingredient">
            {{ r.recipe.ingredients }}
        </div>
        {% endif %}

        {% if r.recipe.detail %}
        <h3>Preparation</h3>
        <div class="recipe-detail">
            {{ r.recipe.detail }}
        </div>
        {% endif %}

        {% if r.recipe.nutrition %}
        <h3>Nutrition</h3>
        <div class="recipe-nutrition">
            {{ r.recipe.nutrition }}
        </div>
        {% endif %}
        {% endautoescape %}

    </div>

    <div class="tw-comments">
        Comments: <a href="" class="tw-comment-trigger">Add Comment</a><br/>
        <form action='/recipes/comment/{{r.recipe.id}}/' method='POST' class="tw-comment-form tw-form">
            {{ commentform.as_p }}
            {% csrf_token %}
            <input type="submit" value="Leave Comment" class="button" />
        </form>

        {% if r.comments %}
            {% for c in r.comments %}
                <div class="tw-comment-instance">
                    {% if c.user %}
                        <div class="comment-avatar">
                            {% avatar c.user 30 %}
                        </div>
                    {% endif %}

                    <strong>{{ c.user.username }}</strong>:
                    <p>
                        <em>"{{ c.text }}"</em>
                    </p>
                    <div class="timestamp">{{ c.evdt}}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endfor %}

{% endblock %}

{% block right %}
    {% include "include/profile-sidebar.html" %}
{% endblock %}

