{% extends "base.html" %}
{% block extra_head %}
 <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(1);
        data.setValue(0, 0, 'Systolic');
        data.setValue(0, 1, {{latest_bp.bp_syst}});
        var chart = new google.visualization.Gauge(document.getElementById('systolic_div'));
        var options = {min: 60,
                       max: 200,
                       width: 400, height: 120,
                        greenFrom: 90, greenTo: 121,
                        redFrom: 122, redTo: 200,
                        yellowFrom:60, yellowTo: 90,
			From:60, yellowTo: 90,
                        minorTicks: 5};
        chart.draw(data, options);
      }
    </script>
    
     <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(1);
        data.setValue(0, 0, 'Diastolic');
        data.setValue(0, 1, {{latest_bp.bp_dia}});
        var chart = new google.visualization.Gauge(document.getElementById('diastolic_div'));
        var options = {min: 30,
                       max: 150,
                       width: 400, height: 120,
                       yellowFrom:30, yellowTo: 59,
                        greenFrom: 60, greenTo: 80,
                        redFrom: 81, redTo: 150,
                        minorTicks: 5};
        chart.draw(data, options);
      }
    </script>

    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['imageareachart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Event');
        data.addColumn('number', 'Systolic');
        data.addColumn('number', 'Diastolic');
        data.addRows({{num_readings}});
        {% for i in bplist %}
	  data.setValue({{forloop.counter0}}, 0, '{{i.ev_dt}}');
	  data.setValue({{forloop.counter0}}, 1, {{i.bp_syst}});
	  data.setValue({{forloop.counter0}}, 2, {{i.bp_dia}});
	{% endfor %}
      
        var chart = new google.visualization.ImageAreaChart(document.getElementById('bp_chart_div'));
        chart.draw(data, {width: 800, height: 240, min: 30, max: 200, title: 'Historical Readings'});
      }
    </script>


{% endblock %}

{% block featureBox %}
    <h1>Blood Pressure:</h1>
    {% if user.is_authenticated %}
    <h3>Your Last Reading was: </h3>{{latest_bp.ev_dt}} <br>
     <div id='systolic_div'></div>
     <div id='diastolic_div'></div>
     Pulse={{latest_bp.bp_pul}}<br>
     <h3>Historical Readings:</h3>
      <div id='bp_chart_div'></div>
    {% endif %} 
    	
{% endblock %}





