{% extends "base.html" %}
{% block extra_head %}
 <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(1);
        data.setValue(0, 0, 'Steps');
        data.setValue(0, 1, {{latest_st.st_numeric}});
        var chart = new google.visualization.Gauge(document.getElementById('st_div'));
        var options = {min: 1000,
                       max: 40000,
                       width: 400, height: 120,
                        greenFrom: 10000, greenTo: 40000,
                        redFrom: 1000, redTo: 4999,
                        yellowFrom:5000, yellowTo: 9999,
                        minorTicks: 5};
        chart.draw(data, options);
      }
    </script>
    
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows({{num_readings}});
        {% for i in stlist %}
	  data.setValue({{forloop.counter0}}, 0, 'Steps');
	  data.setValue({{forloop.counter0}}, 1, {{i.st_numeric}});
	{% endfor %}
        var chart = new google.visualization.Gauge(document.getElementById('st_guages_div'));
        var options = {min: 1000,
                       max: 40000,
                       width: 800, height: 240,
                        greenFrom: 10000, greenTo: 40000,
                        redFrom: 1000, redTo: 4999,
                        yellowFrom:5000, yellowTo: 9999,
                        minorTicks: 5};
        chart.draw(data, options);
      }
    </script>
    
    
    
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['imageareachart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Event');
        data.addColumn('number', 'Steps');
        data.addRows({{num_readings}});
        {% for i in stlist %}
	  data.setValue({{forloop.counter0}}, 0, '{{i.ev_dt}}');
	  data.setValue({{forloop.counter0}}, 1, {{i.st_numeric}});
	{% endfor %}
      
        var chart = new google.visualization.ImageAreaChart(document.getElementById('st_chart_div'));
        chart.draw(data, {width: 800, height: 240, min: 30, max: 200, title: 'Steps Per Day'});
      }
    </script>
    
     

  


{% endblock %}

{% block featureBox %}
    <h1>Steps Per Day:</h1>
    {% if user.is_authenticated %}
    <h3>Your Last Reading is {{latest_st.st_numeric}} last recorded on {{latest_st.ev_dt}} {{latest_st.ev_tz}}</h3>
    <div id='st_div'></div>
    
     <h3>Historical Readings:</h3>
     <div id='st_guages_div'></div>
     
     <h3>Chart:</h3>
      <div id='st_chart_div'></div>
    {% endif %} 
    	
{% endblock %}





